//=====================================================================
// Arrow
//=====================================================================
@mixin arrow-base( $size: 10px ) {
  border-color: transparent;
  border-style: solid;
  border-width: $size;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
@mixin arrow-up( $color, $size: 10px ) {
  @include arrow-base( $size );
  border-bottom-color: $color;
}
@mixin arrow-down( $color, $size: 10px ) {
  @include arrow-base( $size );
  border-top-color: $color;
}
@mixin arrow-left( $color, $size: 10px ) {
  @include arrow-base( $size );
  border-right-color: $color;
}
@mixin arrow-right( $color, $size: 10px ) {
  @include arrow-base( $size );
  border-left-color: $color;
}
