//- 2-tokens/font

.font-- {
  &main {
    font-family: #{$font-main};
  }
  &title {
    font-family: #{$font-title};
  }
}

.text-- {
  &2xs {
    font-size: #{$text-2xs};
  }
  &xs {
    font-size: #{$text-xs};
  }
  &sm {
    font-size: #{$text-sm};
  }
  &md {
    font-size: #{$text-md};
  }
  &lg {
    font-size: #{$text-lg};
  }
  &xl {
    font-size: #{$text-xl};
  }
  &2xl {
    font-size: #{$text-2xl};
  }
  &3xl {
    font-size: #{$text-3xl};
  }
}