//-
//- Header view
//-
extends ../components/header/index

block vars
  include ../components/header/vars
  - var siteTitle = 'MySite';

block nav_items
  li.header__nav__about
    a(href="about.html")
      span About

  li.header__nav__contact
    a(href="contact.html")
      span Contact
