//- components/posts/post-1.pug
- var title = '3 steps to streamline assortment and merchandising solutions'
- var img = '../images/card--thumbnail.png'
- var cat = 'Retail Census'
- var link = '#'

+card(title, false, img, link, cat)