//- components/posts/post-2.pug

- var title = 'Stress Testing an Equity Investment Thesis on the Growth Strategy of a Global C2C Marketplace'
- var img = '../images/post--thumbnail--2.jpeg'
- var cat = 'Event Evaluation'
- var link = '#'

+card(title, false, img, link, cat)