{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    declaration-block-trailing-semicolon: null,
    selector-no-qualifying-type: false,
    scss/at-mixin-pattern: null
  }
}
