//- 5-components/chat

.chat {
  .grid {
    // < 768px
    @media (max-width: 768px) {
      flex-direction: column;

      > div {
        width: 100%;
      }
    }
  }
  &__info {
    padding: 6.25rem 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // < 992px
    @media (max-width: 992px) {
      display: block;
    }

    &__inner {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      // < 992px
      @media (max-width: 992px) {
        flex-direction: column;
      }
    }

    &__main {
      width: 18rem;
      margin-left: -2.5rem;
      margin-top: 5rem;
      margin-bottom: 1.5rem;
      // < 992px
      @media (max-width: 992px) {
        margin-left: 0;
        padding-left: 1rem;
        width: auto;
        margin-top: 1rem;
      }

      h2 {
        margin: 0;
      }
    }
  }

  &__form {
    padding-top: 6.25rem;
    padding-bottom: 2.25rem;
    border-left: 1px solid $color-white;
    // < 768px
    @media (max-width: 768px) {
      padding-top: 2.25rem;
      border-left: none;
    }
  }
}