//- 5-components/cta

.cta {
  position: relative;

  &__main {
    align-items: center;
  }

  &__thumbnail {
    img {
      width: 100%;
      z-index: 1;
      position: relative;
    }
  }

  &--align--top {
    .cta__main {
      align-items: flex-start;
    }
  }

  &__sign{
    margin-top: 3.125rem;
    padding-top: 0.675rem;
    display: block;
    background: url('../images/arrow--down.png') no-repeat right top;
    padding-right: 3rem;
    background-size: 2.5rem;
    height: 2.5rem;
  }

  &__content {
    &--right {
      text-align: right;
    }
  }

  &__title {
    margin: 0;
  }
  &__subtitle {
    margin-top: .5rem;
    margin-bottom: 0;
    font-weight: 400;
  }
  &__header{
    &.right--align{
      text-align: right;
    }
  }
  &__body {
    margin-top: 2.5rem;
    &.right-align{
      text-align: right;
    }

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__action {
    margin-top: 1.75rem;
  }

  &--thumb-right {
    .cta__main {
      flex-direction: row-reverse;
    }
  }
}