.footer {
  background: #23678D;
  position: relative;
  padding-top: 2.5rem;
  font-family: 'Gotham Rounded';
  font-size: .875rem;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    background: url('../images/footer_ornament.png') no-repeat;
    height: 2.5rem;left: 0;top: -2.5rem;

  }
  &::after {
    position: absolute;
    content: '';
    background: url('../images/footer-ornament_leave.png') no-repeat;
    right: 0;
    width: 68px;
    height: 251px;
    bottom: 0;
  }
  &--logo {
    img {
      width: 8.125rem;
    }
  }
  &--center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--address {
    width: 50%;
    p {
      width: 100%;
      font-weight: 400;
      font-family: 'Gotham Rounded';
      font-size: .875rem;
    }
  }
  &--social {
    width: 50%;
    text-align: right;
    ul {
      li {
        list-style: none;
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        padding-top: 15px;
        margin: 0 10px;
        a {
          display: block;
          text-indent: -624.9375rem;
        }
        &.fb {
          background: url('../images/footer_fb-background.svg') no-repeat;
          background-size: cover;
          a {
            width: 30px;
            height: 30px;
            cursor: pointer;
            background: url('../images/fb-icon.svg') no-repeat;
            background-size: cover;
            margin: 0 auto;
          }
        }
        &.ig {
          background: url('../images/footer_ig-background.svg') no-repeat;
          background-size: cover;
          a {
            width: 30px;
            height: 30px;
            cursor: pointer;
            background: url('../images/ig-icon.svg') no-repeat;
            background-size: cover;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &--bottom {
    margin-top: 2.5rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
      li {
        display: inline-block;
        margin: 0 .625rem;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}