//- 5-components/footer
.footer {
  background-color: $color-footer;

  p {
    font-size: $text-sm;
  }

  .fab{
    width: 1.25rem;
    height: 1.25rem;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // < 768px
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__primary {
    margin-right: 2.5rem;

    .footer__logo {
      // < 768px
      @media (max-width: 768px) {
        display: none;
      }
    }

    .footer__copy {
      display: none;
      // < 768px
      @media (max-width: 768px) {
        margin-top: 2rem;
        display: block;
      }
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 2.25rem;

    img {
      height: 2.5rem;
    }
  }

  &__social {
    margin-bottom: 1.5rem;

    a {
      font-size: 1.5rem;
      color: $color-white;
      margin-right: 1.25rem;
    }
  }

  &__nav {
    p {
      margin: 0;
    }
    a {
      color: $color-white;
    }
    span {
      margin: 0 .625rem;
    }
  }

  &__secondary {
    margin-left: auto;
    padding-right: 16.25rem;
    // < 768px
    @media (max-width: 768px) {
      padding-right: 12rem;
      margin-left: 0;
      margin-bottom: 2rem;
    }
    // < 480px
    @media (max-width: 480px) {
      padding-right: 0;
    }

    .footer__logo {
      display: none;
      // < 768px
      @media (max-width: 768px) {
        display: block;
      }
    }

    .footer__copy {
      // < 768px
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__address {
    p:first-child {
      margin-top: 0;
    }
  }

  &__copy {
    margin-top: auto;
    p {
      margin: 0;
    }
  }

  &__chat {
    width: 13.75rem;
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    display: none;
    // < 480px
    @media (max-width: 480px) {
      display: none!important;
    }

    img {
      width: 100%;
    }
  }
}