//- 5-components/form

$input-height: 4.5rem;

form {
  input, textarea {
    display: block;
    background-color: transparent;
    padding: 0;
    border: 0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    outline: none;
    color: $color-white;
    font-size: $text-md;
  }

  textarea {
    line-height: $line-height-md;
  }

  ::-webkit-input-placeholder {
    color: $color-white;
  }
  :-moz-placeholder { 
    color: $color-white;
    opacity:  1;
  }
  ::-moz-placeholder {
    color: $color-white;
    opacity:  1;
  }
  :-ms-input-placeholder {
    color: $color-white;
  }
  ::-ms-input-placeholder {
    color: $color-white;
  }
  ::placeholder {
    color: $color-white;
  }
}

.form {
  &__field {
    height: $input-height;
    line-height: $input-height;
    font-size: $text-md;
    padding-left: 1.875rem;
    padding-right: 1.25rem;
    position: relative;
    border-bottom: 1px solid $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      line-height: $input-height;
    }

    textarea {
      resize: none;
    }

    &:first-child {
      border-top: 1px solid $color-white;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: .75rem;
      height: .75rem;
      background-color: $color-white;
      border-radius: 100px 0 0 0;
      z-index: 2;
      transition: all 0.4s;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__icon {
    width: 1.25rem;
    margin-right: 1.25rem;
    text-align: center;

    img {
      height: 1.125rem;
    }
  }

  &__main {
    flex: 1;
  }

  // Upload 
  &__upload {
    padding-right: 3rem;
    // < 1200px
    @media (max-width: 1200px) {
      padding-right: 1.25rem;
      height: 5.5rem;
    }
    // < 992px
    @media (max-width: 992px) {
      height: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      align-items: flex-start;
    }

    .form__main {
      display: flex;
      flex-direction: row;
      align-items: center;
      // < 992px
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .form__label {
      margin-right: .625rem;

      // < 992px
      @media (max-width: 992px) {
        line-height: 1.5rem;
        margin-bottom: .625rem;
      }
    }

    .form__icon {
      img {
        height: 1.5rem;
      }
    }

    &__info {
      font-size: .75rem;
      // < 1200px
      @media (max-width: 1200px) {
        line-height: 1.5rem;
      }

      // < 992px
      @media (max-width: 992px) {
        margin-left: 1rem;
      }

      // < 480px
      @media (max-width: 480px) {
        margin-top: 5px;
      }
    }

    &__main {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      // < 1200px
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
      // < 992px
      @media (max-width: 992px) {
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 0;
      }
      // < 480px
      @media (max-width: 480px) {
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-top: 1rem;
      }
    }

    &__control {
      position: relative;
      margin-left: .75rem;

      // < 992px
      @media (max-width: 992px) {
        margin-left: 0;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
      }
    }
  }

  // Message
  &__field__message {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 11.25rem;
    line-height: $line-height-md;
    align-items: flex-start;
    border-bottom: 0;

    .form__main, .form__control {
      height: 100%;
    }

    &::after {
      display: none;
    }
  }

  // SUbmit
  &__submit {
    padding-left: 2rem;
    margin-top: .625rem;
  }
}

.form__error {
  margin-top: .5rem;
  color: #{$color-danger};
  font-size: .75rem;
}

//
// Form search
//
.form__search {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__main {
    width: 23rem;
    height: 3.25rem;
    border: 1px solid $color-white;
    border-right: 0;

    input {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .button {
    .button__icon {
      svg {
        fill: $color-white;
      }
    }

    &:hover {
      background-color: $color-white;
      border-color: $color-white;

      .button__icon {
        svg {
          fill: $color-primary;
        }
      }
    }
  }
}