//- 5-components/header

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0!important;
      margin-block-start: 0;
      margin-inline-start: 0;
      padding: 0;
      li{
        display: inline-block;
        a {
          font-size: 1.375rem;
          color: #5AA5D0;
          font-family: 'Gaegu', cursive;
          text-decoration: none;
          background: url('../images/cloud.png') no-repeat;
          background-size: 100%;
          width: 10.4375rem;
          display: block;
          text-align: center;
          padding: 1.875rem 0;
          letter-spacing: -0.125rem;
        }
        &.header--logo {
          a {
            width: auto;
            padding: 0;
            background: none;
          }
        }
      }
    }
  }
}


