//- 5-components/loader

.loader {
  --sk-color: #aaaaaa;

  &--xxs {
    --sk-size: 10px;
  }

  &--xs {
    --sk-size: 20px;
  }

  &--sm {
    --sk-size: 30px;
  }

  &--lg {
    --sk-size: 50px;
  }

  &--xl {
    --sk-size: 60px;
  }

  &--xxl {
    --sk-size: 80px;
  }

  // Coloring
  &--black {
    --sk-color: #{$color-black};
  }
  &--primary {
    --sk-color: #{$color-primary};
  }
  &--success {
    --sk-color: #{$color-success};
  }
  &--warning {
    --sk-color: #{$color-warning};
  }
  &--danger {
    --sk-color: #{$color-danger};
  }
  &--info {
    --sk-color: #{$color-info};
  }

  // Loader page
  &__page {
    z-index: 999999;
    .modal__overlay {
      background-color: rgba(0,0,0,0.9);
    }
    .modal__main {
      background-color: transparent;
      padding: 0;
      min-width: 0;

      .spinner {
        --sk-color: #{$color-white};
        --sk-size: 6rem;
      }
    }
  }
}