//- 5-components/quiz

.quiz {
  &__inner {
    background-color: $color-main-red-3;
  }
  &__top {
    background-color: $color-main-red-5;

    &__inner {
      padding: 2rem;
      height: 100%;
      
    }

    h2 {
      position: relative;

      &:before {
        content: "";
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        background: linear-gradient(180deg, $color-gradient-category 0%, transparent 100%);
        position: absolute;
        top: -1rem;
        left: -1rem;
      }

      span {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__dir {
    align-self: center;
    margin-top: 6rem;
    @media (max-width: 768px) {
      margin-top: 1.5rem;
    }

    &__title {
      margin-bottom: .625rem;
    }

    &__bar {
      height: 2px;
      background-color: $color-white;
      position: relative;

      &__value {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        background-color: $color-main-red;
        transition: all 0.4s;
      }
    }
  }

  &__main {
    height: 560px;
    min-width: calc(68% - 1.5rem);
    transition: height 0.4s;

    &__inner {
      padding: 3rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      @media (max-width: 768px) {
       padding: 2rem 2rem 5rem 2rem; 
      }
    }

    &__content {
      flex: 1;
      position: relative;
    }

    &.height-full {
      .quiz__question__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    // &.height-auto {
    //   height: auto;
    // }
  }

  &__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    // < 768px
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-start;
    }

    &__dir {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      // < 768px
      @media (max-width: 768px) {
        margin-left: 0;
      }

      > * {
        margin-left: .625rem;
        // < 768px
        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }

    &__reset {
      // < 768px
      @media (max-width: 768px) {
        margin-top: 1rem;
        .button__label {
          font-size: 0.7rem;
        }
      }
    }

    &__next {
      button {
        width: 183px;
        @media (max-width: 768px) {
          width: 100%;
          padding-left: 1rem;
          padding-right: 0.5rem;
          margin-left: 0.5rem;
          .button__label {
            font-size: 0.7rem;
          }
        }

        .button__content {
          width: 100%;
        }
        .button__icon {
          margin-left: auto;
        }
      }
    }
    &__prev{
      @media (max-width: 768px) {
        button{
          width: 100%;
          padding-left: 1rem;
          padding-right: 0.5rem;
          .button__label {
            font-size: 0.7rem;
            margin-left: 0.5rem;
            padding-right: 0.5rem;
          }
        }
      }
    }
  }

  &__question {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;

    &[data-state="active"] {
      opacity: 1;
      visibility: visible;
    }

    h3 {
      margin-top: 0;
    }
  }

  &__answers {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: -0.3125rem;

      li {
        padding: .3125rem;
        @media (max-width: 768px) {
          button{
            padding: 0.5rem;
            height: auto;
          }
        }
        
      }
    }
  }

  // Type tags
  &__question[data-type="binary"] {
    .quiz__answers {
      width: 100%;
      ol {
        width: 100%;
      }
      li {
        width: 50%;
      }
      button {
        display: block;
        height: 10rem;
        width: 100%;
        font-size: $text-lg;
        font-weight: bold;
        @media (max-width: 768px) {
          height: auto;
          min-height: 6rem;
          font-size: 1rem;
        }
      }
    }
  }

  &__question[data-type="step"] {
    .quiz__answers {
      width: 100%;
      
      ol {
        justify-content: space-between;
        width: 100%;
        position: relative;
        @media (max-width: 768px) {
          justify-content: center;
          margin-top: 3rem;
        }

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 1rem;
          right: 1rem;
          height: 1px;
          border-bottom: 1px dashed $color-white;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
      li {
        position: relative;
        z-index: 1;
      }
      button {
        display: block;
        width: 9rem;
        height: 9rem;
        border-radius: 100%;
        @media (max-width: 768px) {
          width: 7rem;
          height: 7rem;
        }

        &:hover, &[data-state="active"] {
          background-color: $color-main-red-5;
          color: $color-white;
        }
      }
    }
  }

  //
  // Result
  //
  &__result {
    &__inner {
      background-color: $color-pale-white;
      max-width: 62rem;
      padding: 1rem 1rem 2.25rem;
      width: 100%;
      border-radius: 0;
      &.modal__main {
        @media (max-width: 768px) {
          min-width: auto;
          transform: translateY(3rem)!important;
        }
      }
    }

    &.modal {
      @media (max-width: 768px) {
        overflow-x: scroll;
      }
    }

    &__top {
      position: relative;

      &__inner {
        padding: 2.25rem;
        border-radius: .625rem;
        background-color: $color-main-red;
        text-align: center;
        @media (max-width: 768px) {
          padding: 2rem 1rem;
        }
      }

      &__main {
        h2 {
          margin: 0 0 1.25rem;
        }
        p {
          max-width: 27rem;
          margin: 0 auto;
          @media (max-width: 768px) {
            line-height: 1.2rem;
          }
        }
      }
    }
    &__tag {
      margin-top: 1.25rem;
      display: inline-block;
      padding: 1.25rem 1rem;
      background-color: $color-main-red-5;
      border-radius: .625rem;
      text-transform: uppercase;
      @media (max-width: 768px) {
        padding: 1rem;
      }
    }

    &__main {
      max-width: 36rem;
      margin: 0 auto;
      padding-top: 1.25rem;
      color: $color-black;
    }

    &__form {
      > p {
        text-align: center;
        padding: 0 1rem;
        @media (max-width: 768px) {
          line-height: 1.4rem;
        }
      }
      form {
        margin-top: 2rem;
      }

      &__fields:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 -0.625rem 2rem ;

        > div {
          width: 50%;
          padding: 0 0.625rem;
        }
      }
      &__fields:not(:last-child) {
        margin-bottom: 2rem;
      }
      &__field {
        position: relative;

        &__inner {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 1rem;
          border-bottom: 1px solid $color-main-red-5;
          width: 100%;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: .75rem;
            height: .75rem;
            background-color: $color-main-red-5;
            border-radius: 100px 0 0 0;
            z-index: 2;
            transition: all 0.4s;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }
      &__icon {
        margin-right: .75rem;

        img {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: contain;
          object-position: center;
        }
      }
      &__input {
        width: 100%;

        input {
          width: 100%;
          background-color: transparent;
          font-size: 1rem;
          line-height: 1.5rem;
          border: 0;
          outline: none;
        }
        
        ::-webkit-input-placeholder {
          color: #a57c7c;
        }
        :-moz-placeholder { 
          color: #a57c7c;
          opacity:  1;
        }
        ::-moz-placeholder {
          color: #a57c7c;
          opacity:  1;
        }
        :-ms-input-placeholder {
          color: #a57c7c;
        }
        ::-ms-input-placeholder {
          color: #a57c7c;
        }
        ::placeholder {
          color: #a57c7c;
        }
      }
    }

    &__actions {
      margin: 2rem -0.625rem 0;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
      }

      > div {
        padding: 0 .625rem;
        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        &:first-child {
          width: 12.25rem;
          @media (max-width: 768px) {
            width: 100%;
          }
          
        }
        &:last-child {
          flex: 1;
        }
      }

      .button {
        width: 100%;

        &__content {
          width: 100%;
          justify-content: flex-start;
        }
        &__icon {
          margin-left: auto;
        }
      }
    }
  }
}