//- 5-components/section.scss

.section {
  position: relative;
  padding-bottom: 4rem;

  &--space-md {
    padding-top: 4.75rem;
    // < 768px
    @media (max-width: 768px) {
      padding-top: 4rem;
    }
    // < 480px
    @media (max-width: 480px) {
      padding-top: 3rem;
    }
  }

  &--space-lg {
    padding-top: 10rem;
    // < 768px
    @media (max-width: 768px) {
      padding-top: 7rem;
    }
    // < 480px
    @media (max-width: 480px) {
      padding-top: 4rem;
    }
  }

  &--space-none {
    padding: 0;
  }

  &--space-top {
    padding-bottom: 0;
  }

  &__main {
    position: relative;
  }

  &__header {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // < 768px
    @media (max-width: 768px) {
      margin-bottom: 3rem;
      flex-direction: column;

      > div {
        width: 100%!important;
        &:first-child {
          margin-bottom: 2rem;
        }
      }
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    p {
      margin-top: 1.25rem;
      margin-bottom: 0;
      // < 480px
      @media (max-width: 480px) {
        line-height: 1.2;
      }
    }

    &__main {
      // < 768px
      @media (max-width: 768px) {
        text-align: center;
      }
    }

    &--center {
      text-align: center;
      justify-content: center;
    }

    &__widget {
      padding-left: 5rem;
      margin-left: auto;
      // < 768px
      @media (max-width: 768px) {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  &__footer {
    margin-top: 3rem;
    text-align: center;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}