//- 5-components/thumbnail

.thumbnail {
  position: relative;
  overflow: hidden;

  > a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 1rem;
      object-fit: cover;
      object-position: center;
    }

    &.thumbnail--fixed {
      position: fixed;
    }

    .lazyload-wrapper {
      width: 100%;
      height: 100%;
    }

    .loader__image {
      width: 100%;
      background-color: #efefef;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      svg {
        width: auto!important;
        height: 94px!important;
        opacity: 0.6;
      }
    }
  }

  &__action {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
    border-radius: 1rem;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    .thumbnail__action {
      opacity: 1;
      visibility: visible;
    }
  }
}