//-
//- Careers
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Careers - Clove';
  - var pageName      = 'careers';
  - var bodyClass     = 'career bg--main-red-4';

block main

  .page-top.page-top--fixed
    .container
      .page-top__main
        .page-top__breadcrumb
          .category
            .category__main
              a(href="") Who We Are
              |
              span.page-top__breadcrumb__sep /
              |
              span.page-top__breadcrumb_current WANT TO JOIN US?

  +cta-section(false, false, 'lg', 'main-red-4')

  .section.section--space-md.bg--main-red-5
    .section__inner
      .container
        .section__main
          .section__header
            .section__header__main
              h2.text--xl Available Positions
          .section__body