//-
//- Career details
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Career Details - Clove';
  - var pageName      = 'career-details';
  - var bodyClass     = 'career career__detail';

block main
