//-
//- Case Study Detail
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Case Study Details - Clove';
  - var pageName      = 'case-study-details';
  - var bodyClass     = 'case-study case-study__detail';

block main
