//-
//- Our Case Study
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Our Case Study - Clove';
  - var pageName      = 'our-case-study';
  - var bodyClass     = 'case-study';

block main
