//-
//- Homepage
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Clove Home';
  - var pageName      = 'home';
  - var bodyClass     = 'home';
  - var showFooterChat = true;

block main
