//-
//- Market quiz
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Market Quiz - Clove';
  - var pageName      = 'market-quiz';
  - var bodyClass     = 'quiz';

block main

  .page-top.page-top--fixed
    .container
      .page-top__main
        .page-top__breadcrumb
          .category
            .category__main
              span.page-top__breadcrumb_current MARKET RESEARCH CHECK-UP

  +cta-section(false, "Let's Go!", 'md', 'primary', 'lg', 'middle', 'left', 'right')