//-
//- Our Thinking Details
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Our Thinking Details - Clove';
  - var pageName      = 'our-thinking-details';
  - var bodyClass     = 'blog blog__detail';

block main
