//-
//- What we do
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'What We Do - Clove';
  - var pageName      = 'what-we-do';
  - var bodyClass     = 'about';

block main

  .page-top.page-top--fixed
    .container
      .page-top__main
        .page-top__breadcrumb
          .category
            .category__main
              span.page-top__breadcrumb_current What We Do

  +cta-section(false, false, 'lg')

  .section.section--space-md.bg--main-red-2
    .section__inner
      .container
        .section__main
          .section__header.section__header--center
            .section__header__main
              h2.text--3xl Our case studies
              p Combining digital approach to get deeper and impactful insight.

          .section__body
            .grid.gap--md
              .column--33
                include ../components/posts/post-1
              .column--33
                include ../components/posts/post-2
              .column--33
                include ../components/posts/post-3
          
          .section__footer
            +button-link('See all', '#') 
  
  +cta-section(false, false, 'md', 'main-red-3', 'lg', 'middle', 'left', 'right')
