//- components/header/vars.pug

- var siteLogo = 'images/logo__main.png';
- var siteTitle = '';
- var containerClass = 'container';
- var layout = 'default';
- var titleTag = 'span';
- var homeUrl = '/';
- var homeNavLabel = 'Home';