/* Config */
:root {
  --sk-size: 40px;
  --sk-color: #333;
}


/* Utility class for centering */
.sk-center { margin: auto; }


/*  Plane

      <div class="sk-plane"></div>
 */
.sk-plane {
  width: var(--sk-size);
  height: var(--sk-size);
  background-color: var(--sk-color);
  animation: sk-plane 1.2s infinite ease-in-out; 
}

@keyframes sk-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); 
  } 
}


/*  Chase

      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
 */
.sk-chase {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  animation: sk-chase 2.5s infinite linear both; 
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}


/*  Bounce

      <div class="sk-bounce">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
      </div>
  */
.sk-bounce {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.sk-bounce-dot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--sk-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

.sk-bounce-dot:nth-child(2) { animation-delay: -1.0s; }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  } 45%, 55% {
    transform: scale(1); 
  } 
}


/*  Wave

      <div class="sk-wave">
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
      </div>
 */
.sk-wave {
  width: var(--sk-size);
  height: var(--sk-size);
  display: flex;
  justify-content: space-between;
}

.sk-wave-rect {
  background-color: var(--sk-color);
  height: 100%;
  width: 15%;
  animation: sk-wave 1.2s infinite ease-in-out; 
}

.sk-wave-rect:nth-child(1) { animation-delay: -1.2s; }
.sk-wave-rect:nth-child(2) { animation-delay: -1.1s; }
.sk-wave-rect:nth-child(3) { animation-delay: -1.0s; }
.sk-wave-rect:nth-child(4) { animation-delay: -0.9s; }
.sk-wave-rect:nth-child(5) { animation-delay: -0.8s; }

@keyframes sk-wave {
  0%, 40%, 100% {
    transform: scaleY(0.4); 
  } 20% {
    transform: scaleY(1); 
  } 
}


/*  Pulse

      <div class="sk-pulse"></div>
 */
.sk-pulse {
  width: var(--sk-size);
  height: var(--sk-size);
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-pulse 1.2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

@keyframes sk-pulse {
  0% {
    transform: scale(0); 
  } 100% {
    transform: scale(1);
    opacity: 0; 
  }
}


/*  Flow

      <div class="sk-flow">
        <div class="sk-flow-dot"></div>
        <div class="sk-flow-dot"></div>
        <div class="sk-flow-dot"></div>
      </div>
 */
.sk-flow {
  width: calc(var(--sk-size) * 1.3);
  height: calc(var(--sk-size) * 1.3);
  display: flex;
  justify-content: space-between;
}

.sk-flow-dot {
  width: 25%;
  height: 25%;
  background-color: var(--sk-color);
  border-radius: 50%;
  animation: sk-flow 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite both;
}

.sk-flow-dot:nth-child(1) { animation-delay: -0.30s; }
.sk-flow-dot:nth-child(2) { animation-delay: -0.15s; }

@keyframes sk-flow {
  0%, 80%, 100% {
    transform: scale(0.3); }
  40% {
    transform: scale(1); 
  }
}


/*  Swing

      <div class="sk-swing">
        <div class="sk-swing-dot"></div>
        <div class="sk-swing-dot"></div>
      </div>
 */
.sk-swing {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  animation: sk-swing 1.8s infinite linear; 
}
  
.sk-swing-dot {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-swing-dot 2s infinite ease-in-out; 
}

.sk-swing-dot:nth-child(2) {
  top: auto;
  bottom: 0;
  animation-delay: -1s; 
}

@keyframes sk-swing {
  100% {
    transform: rotate(360deg); 
  } 
}

@keyframes sk-swing-dot {
  0%, 100% {
    transform: scale(0.2); }
  50% {
    transform: scale(1); 
  } 
}


/*  Circle

      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>
 */
.sk-circle {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative; 
}

.sk-circle-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle-dot:before {
    content: '';
    display: block;
    width: 15%;
    height: 15%;
    background-color: var(--sk-color);
    border-radius: 100%;
    animation: sk-circle 1.2s infinite ease-in-out both; 
}

.sk-circle-dot:nth-child(1) { transform: rotate(30deg); }
.sk-circle-dot:nth-child(2) { transform: rotate(60deg); }
.sk-circle-dot:nth-child(3) { transform: rotate(90deg); }
.sk-circle-dot:nth-child(4) { transform: rotate(120deg); }
.sk-circle-dot:nth-child(5) { transform: rotate(150deg); }
.sk-circle-dot:nth-child(6) { transform: rotate(180deg); }
.sk-circle-dot:nth-child(7) { transform: rotate(210deg); }
.sk-circle-dot:nth-child(8) { transform: rotate(240deg); }
.sk-circle-dot:nth-child(9) { transform: rotate(270deg); }
.sk-circle-dot:nth-child(10) { transform: rotate(300deg); }
.sk-circle-dot:nth-child(11) { transform: rotate(330deg); }
.sk-circle-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-circle-dot:nth-child(2):before { animation-delay: -1s; }
.sk-circle-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-circle-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-circle-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-circle-dot:nth-child(6):before { animation-delay: -0.6s; }
.sk-circle-dot:nth-child(7):before { animation-delay: -0.5s; }
.sk-circle-dot:nth-child(8):before { animation-delay: -0.4s; }
.sk-circle-dot:nth-child(9):before { animation-delay: -0.3s; }
.sk-circle-dot:nth-child(10):before { animation-delay: -0.2s; }
.sk-circle-dot:nth-child(11):before { animation-delay: -0.1s; }

@keyframes sk-circle {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); 
  } 
}


/*  Circle Fade

      <div class="sk-circle-fade">
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
      </div>
 */
.sk-circle-fade {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative; 
}

.sk-circle-fade-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
}

.sk-circle-fade-dot:before {
  content: '';
  display: block;
  width: 15%;
  height: 15%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-circle-fade 1.2s infinite ease-in-out both; 
}

.sk-circle-fade-dot:nth-child(1)  { transform: rotate(30deg);  }
.sk-circle-fade-dot:nth-child(2)  { transform: rotate(60deg);  }
.sk-circle-fade-dot:nth-child(3)  { transform: rotate(90deg);  }
.sk-circle-fade-dot:nth-child(4)  { transform: rotate(120deg); }
.sk-circle-fade-dot:nth-child(5)  { transform: rotate(150deg); }
.sk-circle-fade-dot:nth-child(6)  { transform: rotate(180deg); }
.sk-circle-fade-dot:nth-child(7)  { transform: rotate(210deg); }
.sk-circle-fade-dot:nth-child(8)  { transform: rotate(240deg); }
.sk-circle-fade-dot:nth-child(9)  { transform: rotate(270deg); }
.sk-circle-fade-dot:nth-child(10) { transform: rotate(300deg); }
.sk-circle-fade-dot:nth-child(11) { transform: rotate(330deg); }
.sk-circle-fade-dot:nth-child(1):before  { animation-delay: -1.1s; }
.sk-circle-fade-dot:nth-child(2):before  { animation-delay: -1.0s; }
.sk-circle-fade-dot:nth-child(3):before  { animation-delay: -0.9s; }
.sk-circle-fade-dot:nth-child(4):before  { animation-delay: -0.8s; }
.sk-circle-fade-dot:nth-child(5):before  { animation-delay: -0.7s; }
.sk-circle-fade-dot:nth-child(6):before  { animation-delay: -0.6s; }
.sk-circle-fade-dot:nth-child(7):before  { animation-delay: -0.5s; }
.sk-circle-fade-dot:nth-child(8):before  { animation-delay: -0.4s; }
.sk-circle-fade-dot:nth-child(9):before  { animation-delay: -0.3s; }
.sk-circle-fade-dot:nth-child(10):before { animation-delay: -0.2s; }
.sk-circle-fade-dot:nth-child(11):before { animation-delay: -0.1s; }

@keyframes sk-circle-fade {
  0%, 39%, 100% {
    opacity: 0;
    transform: scale(0.6);
  } 40% {
    opacity: 1; 
    transform: scale(1);
  }
}


/*  Grid

    <div class="sk-grid">
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
    </div>
 */
.sk-grid {
  width: var(--sk-size);
  height: var(--sk-size);
  /* Cube positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ 
 }
.sk-grid-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: var(--sk-color);
    float: left;
    animation: sk-grid 1.3s infinite ease-in-out; 
}
.sk-grid-cube:nth-child(1) { animation-delay: 0.2s; }
.sk-grid-cube:nth-child(2) { animation-delay: 0.3s; }
.sk-grid-cube:nth-child(3) { animation-delay: 0.4s; }
.sk-grid-cube:nth-child(4) { animation-delay: 0.1s; }
.sk-grid-cube:nth-child(5) { animation-delay: 0.2s; }
.sk-grid-cube:nth-child(6) { animation-delay: 0.3s; }
.sk-grid-cube:nth-child(7) { animation-delay: 0.0s; }
.sk-grid-cube:nth-child(8) { animation-delay: 0.1s; }
.sk-grid-cube:nth-child(9) { animation-delay: 0.2s; }

@keyframes sk-grid {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1); 
  } 35% {
    transform: scale3D(0, 0, 1); 
  } 
}


/*  Fold

      <div class="sk-fold">
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
      </div>
 */
.sk-fold {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  transform: rotateZ(45deg); 
}
.sk-fold-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1); 
}

.sk-fold-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sk-color);
  animation: sk-fold 2.4s infinite linear both;
  transform-origin: 100% 100%; 
}
.sk-fold-cube:nth-child(2) { transform: scale(1.1) rotateZ(90deg); }
.sk-fold-cube:nth-child(4) { transform: scale(1.1) rotateZ(180deg); }
.sk-fold-cube:nth-child(3) { transform: scale(1.1) rotateZ(270deg); }
.sk-fold-cube:nth-child(2):before { animation-delay: 0.3s; }
.sk-fold-cube:nth-child(4):before { animation-delay: 0.6s; }
.sk-fold-cube:nth-child(3):before { animation-delay: 0.9s; }

@keyframes sk-fold {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  } 
}


/*  Wander

      <div class="sk-wander">
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
      </div>
 */
.sk-wander {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative; 
}

.sk-wander-cube {
  background-color: var(--sk-color);
  width: 20%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  --sk-wander-distance: calc(var(--sk-size) * 0.75);
  animation: sk-wander 2.0s ease-in-out -2.0s infinite both;
}
.sk-wander-cube:nth-child(2) { animation-delay: -0.5s; }
.sk-wander-cube:nth-child(3) { animation-delay: -1.0s; }

@keyframes sk-wander {
  0% {
    transform: rotate(0deg); 
  } 25% {
    transform: translateX(var(--sk-wander-distance)) rotate(-90deg) scale(0.6); 
  } 50% { /* Make FF rotate in the right direction */
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-179deg); 
  } 50.1% {
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-180deg); 
  } 75% {
    transform: translateX(0) translateY(var(--sk-wander-distance)) rotate(-270deg) scale(0.6);
  } 100% {
    transform: rotate(-360deg); 
  }
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url(spinkit/spinkit.css);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.text--black {
  color: #2b2b2b; }

.text--white {
  color: #ffffff; }

.text--primary {
  color: #a81c1b; }

.text--success {
  color: #48c78e; }

.text--warning {
  color: #f7942c; }

.text--danger {
  color: #f14668; }

.text--info {
  color: #3e8ed0; }

.bg--primary {
  background-color: #a81c1b; }

.bg--main-red {
  background-color: #a81c1b; }

.bg--main-red-2 {
  background-color: #981314; }

.bg--main-red-3 {
  background-color: #801414; }

.bg--main-red-4 {
  background-color: #6d1313; }

.bg--main-red-5 {
  background-color: #53090a; }

.bg--red {
  background-color: #a31d1e; }

.bg--red-2 {
  background-color: #811717; }

.bg--red-3 {
  background-color: #6a1415; }

.bg--primary {
  background-color: #a81c1b; }

.bg--black {
  background-color: #2b2b2b; }

.bg--white {
  background-color: #ffffff; }

.bg--success {
  background-color: #48c78e; }

.bg--warning {
  background-color: #f7942c; }

.bg--danger {
  background-color: #f14668; }

.bg--info {
  background-color: #3e8ed0; }

.border--black {
  border-color: #2b2b2b; }

.border--white {
  border-color: #ffffff; }

.border--primary {
  border-color: #a81c1b; }

.border--success {
  border-color: #48c78e; }

.border--warning {
  border-color: #f7942c; }

.border--danger {
  border-color: #f14668; }

.border--info {
  border-color: #3e8ed0; }

.gradient--primary {
  background: linear-gradient(180deg, #730000 0%, #f8f0ee 100%); }

.font--main {
  font-family: "DM Sans", sans-serif; }

.font--title {
  font-family: "DM Sans", sans-serif; }

.text--2xs {
  font-size: 11px;
  line-height: 14px; }

.text--xs {
  font-size: 12px;
  line-height: 16px; }

.text--sm {
  font-size: 14px;
  line-height: 20px; }

.text--md {
  font-size: 16px;
  line-height: 26px; }

.text--lg {
  font-size: 24px;
  line-height: 32px; }

.text--xl {
  font-size: 32px;
  line-height: 38px; }

.text--2xl {
  font-size: 36px;
  line-height: 54px; }

.text--3xl {
  font-size: 48px;
  line-height: 57px; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the grey background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration-thickness: 1px; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration-style: dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  font-size: 10px; }

body {
  font-family: "DM Sans", sans-serif;
  background-color: #a81c1b;
  color: #ffffff; }

a {
  outline: none;
  color: #a81c1b; }
  a:hover {
    color: #7c1514; }
  a:visited {
    color: #e24947; }

p {
  font-size: 16px;
  line-height: 26px; }

.container {
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 60px;
  max-width: 1300px; }
  @media (max-width: 1300px) {
    .container {
      padding: 0 40px; } }
  @media (max-width: 580px) {
    .container {
      padding: 0 20px; } }
  .container--full {
    width: 100%;
    padding: 0 40px;
    max-width: auto; }
  .container--md {
    max-width: 1090px; }
  .container--sm {
    max-width: 940px; }
  .container--xs {
    max-width: 860px; }

.grid {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  flex-wrap: wrap; }
  .grid--center {
    justify-content: center; }

.column--50 {
  width: 50%; }

.column--33 {
  width: 33.333333%; }

.column--25 {
  width: 25%; }

.gap--md {
  margin: 0 -10px; }
  .gap--md > div {
    padding: 0 10px; }

.gap--lg {
  margin: 0 -20px; }
  .gap--lg > div {
    padding: 0 20px; }

.gap--xl {
  margin: 0 -30px; }
  .gap--xl > div {
    padding: 0 30px; }

.gap--2xl {
  margin: 0 -50px; }
  .gap--2xl > div {
    padding: 0 50px; }

.section {
  position: relative;
  padding-bottom: 68px; }
  .section--space-md {
    padding-top: 74px; }
  .section--space-lg {
    padding-top: 168px; }
  .section--space-none {
    padding: 0; }
  .section--space-top {
    padding-bottom: 0; }
  .section__main {
    position: relative; }
  .section__header {
    margin-bottom: 68px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .section__header h1, .section__header h2, .section__header h3, .section__header h4, .section__header h5, .section__header h6 {
      margin: 0; }
    .section__header p {
      margin-top: 20px;
      margin-bottom: 0; }
    .section__header--center {
      text-align: center;
      justify-content: center; }
    .section__header__widget {
      padding-left: 80px;
      margin-left: auto; }
  .section__footer {
    margin-top: 48px;
    text-align: center; }

.title {
  position: relative;
  font-weight: bold; }
  .title--have-icon {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .title__icon + .title__content {
    margin-left: 1.5rem; }
  .title__content + .title__icon {
    margin-left: 1.5rem; }
  .title--center {
    text-align: center; }
    .title--center.title--have-icon {
      justify-content: center; }
  .title--uppercase {
    text-transform: uppercase; }
  .title--xxs {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 2.4rem 0; }
    @media (max-width: 480px) {
      .title--xxs {
        font-size: 1.7rem;
        line-height: 2.2rem;
        margin: 2.2rem 0; } }
  .title--xs {
    font-size: 2rem;
    line-height: 2.6rem;
    margin: 2.8rem 0; }
    @media (max-width: 480px) {
      .title--xs {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 2.6rem 0; } }
  .title--sm {
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin: 3.2rem 0; }
    @media (max-width: 480px) {
      .title--sm {
        font-size: 2rem;
        line-height: 2.6rem;
        margin: 3rem 0; } }
    @media (max-width: 340px) {
      .title--sm {
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 2.8rem 0; } }
  .title--md {
    font-size: 2.6rem;
    line-height: 3.6rem;
    margin: 4rem 0; }
    @media (max-width: 480px) {
      .title--md {
        font-size: 2.4rem;
        line-height: 3.4rem;
        margin: 3.8rem 0; } }
    @media (max-width: 340px) {
      .title--md {
        font-size: 2.2rem;
        line-height: 3rem;
        margin: 3.4rem 0; } }
  .title--lg {
    font-size: 3rem;
    line-height: 3.8rem;
    margin: 4.2rem 0; }
    @media (max-width: 768px) {
      .title--lg {
        font-size: 2.8rem;
        line-height: 3.6rem;
        margin: 4rem 0; } }
    @media (max-width: 480px) {
      .title--lg {
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin: 3.8rem 0; } }
    @media (max-width: 340px) {
      .title--lg {
        font-size: 2.4rem;
        line-height: 3rem;
        margin: 3.4rem 0; } }
  .title--xl {
    font-size: 3.8rem;
    line-height: 4.6rem;
    margin: 5.2rem 0; }
    @media (max-width: 768px) {
      .title--xl {
        font-size: 3.6rem;
        line-height: 4.4rem;
        margin: 5rem 0; } }
    @media (max-width: 480px) {
      .title--xl {
        font-size: 3rem;
        line-height: 4rem;
        margin: 4.6rem 0; } }
    @media (max-width: 340px) {
      .title--xl {
        font-size: 2.8rem;
        line-height: 3.8rem;
        margin: 3.6rem 0; } }
  .title--xxl {
    font-size: 5rem;
    line-height: 6.2rem;
    margin: 5.8rem 0; }
    @media (max-width: 768px) {
      .title--xxl {
        font-size: 4.8rem;
        line-height: 6rem;
        margin: 5.6rem 0; } }
    @media (max-width: 480px) {
      .title--xxl {
        font-size: 4.2rem;
        line-height: 5.4rem;
        margin: 5rem 0; } }
    @media (max-width: 340px) {
      .title--xxl {
        font-size: 3.8rem;
        line-height: 5rem;
        margin: 3.8rem 0; } }

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  transition: all 0.4s;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 24px;
  background-color: #ffffff;
  color: #a81c1b;
  height: 52px;
  display: inline-flex;
  flex-direction: row;
  align-items: center; }
  .button:hover {
    text-decoration: none; }
  .button:visited {
    color: #a81c1b; }
  .button[disabled] {
    cursor: not-allowed; }
  .button__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .button__label {
    font-size: 16px;
    line-height: 16px; }
    .button__label + .button__icon {
      margin-left: 20px; }
  .button__icon {
    font-size: 16px;
    color: #a81c1b;
    transition: all 0.4s; }
    .button__icon + .button__label {
      margin-left: 12px; }
  .button:disabled, .button[disabled], .button.disabled {
    cursor: not-allowed;
    opacity: 0.95; }
  .button--sm {
    height: 44px; }
  .button--dark {
    background-color: #53090a;
    color: #ffffff; }
    .button--dark:visited {
      color: #ffffff; }
    .button--dark .button__icon {
      color: #ffffff; }
    .button--dark:hover {
      background-color: #370607;
      color: #ffffff; }
      .button--dark:hover:disabled, .button--dark:hover[disabled], .button--dark:hover.disabled {
        background-color: #53090a;
        color: #ffffff; }
  .button--line {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff; }
    .button--line:visited {
      color: #ffffff; }
    .button--line:hover {
      background-color: #53090a;
      border-color: #53090a;
      color: #ffffff; }
      .button--line:hover:disabled, .button--line:hover[disabled], .button--line:hover.disabled {
        background-color: transparent;
        border-color: #ffffff; }
    .button--line .button__icon {
      color: #ffffff; }
    .button--line.button--dark {
      border-color: #53090a;
      color: #53090a; }
      .button--line.button--dark:hover {
        color: #ffffff; }
        .button--line.button--dark:hover:disabled, .button--line.button--dark:hover[disabled], .button--line.button--dark:hover.disabled {
          border-color: #53090a;
          color: #53090a; }
        .button--line.button--dark:hover .button__icon {
          color: #ffffff; }
    .button--line.button--primary {
      border-color: #a81c1b;
      color: #a81c1b; }
      .button--line.button--primary .button__icon {
        color: #a81c1b; }
      .button--line.button--primary:hover {
        color: #ffffff;
        background-color: #a81c1b; }
        .button--line.button--primary:hover:disabled, .button--line.button--primary:hover[disabled], .button--line.button--primary:hover.disabled {
          background-color: transparent;
          border-color: #a81c1b;
          color: #a81c1b; }
          .button--line.button--primary:hover:disabled .button__icon, .button--line.button--primary:hover[disabled] .button__icon, .button--line.button--primary:hover.disabled .button__icon {
            color: #a81c1b; }
        .button--line.button--primary:hover .button__icon {
          color: #ffffff; }
  .button--square {
    padding: 0;
    width: 52px;
    text-align: center; }
    .button--square .button__content {
      width: 100%; }
    .button--square .button__icon {
      font-size: 28px; }
    .button--square.button--sm {
      width: 44px; }
      .button--square.button--sm .button__icon {
        font-size: 24px; }
  .button__group {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .button__group > .button--line:not(:last-child) {
      border-right: 0; }
  .button__loader {
    cursor: not-allowed; }
    .button__loader .spinner {
      --sk-color: #ffffff; }
  .button__pagination .button .button__icon {
    font-size: 15px; }
  .button__pagination .button--white:not([disabled]):hover {
    background-color: #ffffff;
    color: #a81c1b; }
    .button__pagination .button--white:not([disabled]):hover .button__icon {
      color: #a81c1b; }

.category {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -12px; }
  .category:before {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background: linear-gradient(180deg, #de4339 0%, transparent 100%); }
  .category:after {
    content: "";
    width: 68px;
    height: 1px;
    background-color: #ffffff; }
  .category span {
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    margin-left: -34px;
    margin-right: 10px; }

.card {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden; }
  .card__deco {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 100px 0 0 0;
    z-index: 2;
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .card__deco__icon {
      width: 31px;
      height: 15px;
      background: url("../images/arrow-long-right.svg") no-repeat 0 0;
      background-size: contain;
      margin-top: 10px;
      margin-left: 10px;
      opacity: 0;
      transform: translateX(-10px);
      transition: all 0.4s; }
  .card:hover .card__deco {
    width: 60px;
    height: 60px;
    transform-origin: right bottom; }
    .card:hover .card__deco__icon {
      transform: translateX(0);
      opacity: 1; }
  .card > a {
    display: block; }
  .card a {
    text-decoration: none; }
  .card__inner {
    width: 100%; }
  .card__info {
    padding: 30px; }
    .card__info__inner {
      height: 100%;
      display: flex;
      flex-direction: column; }
    .card__info__main {
      transition: all 0.4s; }
  .card__category {
    margin-bottom: 0.8rem; }
    .card__category p {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 1em;
      letter-spacing: 0.2em; }
      @media (max-width: 768px) {
        .card__category p {
          font-size: 1.4rem; } }
  .card__title h3 {
    margin: 0; }
    .card__title h3 a {
      color: #2b2b2b; }
  .card__thumb {
    position: relative; }
  .card__desc {
    margin-top: 12px; }
    .card__desc p {
      margin: 0; }
  .card__tag {
    padding: 8px 12px;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1; }
  .card__action {
    position: relative;
    padding-top: 2rem;
    margin-top: auto; }
  .card--info-bottom .card__inner {
    position: relative; }
  .card--info-bottom .card__info {
    background-color: #53090a;
    color: #ffffff;
    text-align: center; }
    .card--info-bottom .card__info__main {
      transition: all 0.4s; }
  .card--info-bottom .card__thumb:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #53090a;
    opacity: 0;
    transition: all 0.4s; }
  .card--info-bottom .card__title {
    margin-top: 20px; }
    .card--info-bottom .card__title a {
      color: #ffffff; }
  .card--info-bottom .card__desc {
    max-width: 220px;
    margin: 12px auto 0; }
    .card--info-bottom .card__desc p {
      margin: 0; }
  .card--info-bottom .card__icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: -80px auto 0;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.4s; }
    .card--info-bottom .card__icon img {
      width: 48px; }
  .card--info-bottom:hover .card__icon {
    transform: translateY(-100px); }
  .card--info-bottom:hover .card__info__main {
    transform: translateY(-30px); }
  .card--info-bottom:hover .card__thumb:after {
    opacity: 0.5; }
  .card--info-inside {
    overflow: hidden; }
    .card--info-inside .card__inner {
      position: relative;
      overflow: hidden; }
      .card--info-inside .card__inner:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)); }
    .card--info-inside .card__thumb {
      overflow: hidden; }
      .card--info-inside .card__thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all 0.4s; }
    .card--info-inside .card__info {
      color: #ffffff;
      background-color: transparent;
      box-shadow: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      padding: 30px;
      display: flex;
      flex-direction: row;
      align-items: flex-end; }
      .card--info-inside .card__info__inner {
        display: block;
        width: 100%;
        height: auto; }
    .card--info-inside .card__title a {
      color: #ffffff; }
    .card--info-inside .card__content {
      color: #ffffff; }
    .card--info-inside .card__category {
      margin-bottom: 0.2rem; }
    .card--info-inside .card__meta {
      justify-content: center;
      margin-top: 1rem; }
      .card--info-inside .card__meta p {
        padding: 3.2rem;
        font-weight: 200;
        letter-spacing: 0.1em; }
    .card--info-inside:hover .card__thumb img {
      transform: scale(1.3); }
    .card--info-inside:hover .card__info__main {
      transform: translateY(-30px); }

.card__menu {
  height: 360px;
  background-color: #53090a; }
  .card__menu a {
    display: block;
    height: 100%;
    color: #ffffff;
    text-decoration: none; }
  .card__menu .card__inner {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%; }
  .card__menu .card__thumb {
    text-align: center;
    width: 285px;
    height: 285px; }
    .card__menu .card__thumb:before {
      content: "";
      width: 285px;
      height: 285px;
      border-radius: 100%;
      background: linear-gradient(180deg, #A81D1D 26.67%, transparent 80%);
      position: absolute;
      top: 0;
      left: 0; }
    .card__menu .card__thumb img {
      width: 85%;
      position: relative;
      z-index: 2;
      transition: all 0.4s; }
  .card__menu:hover .card__thumb img {
    transform: scale(1.1); }

.form__field {
  margin-bottom: 20px; }
  .form__field__label {
    margin-bottom: 8px; }
    .form__field__label label {
      font-size: 14px;
      font-weight: 700; }
  .form__field__info {
    margin-top: 8px;
    color: #2b2b2b;
    font-size: 12px;
    line-height: 16px;
    font-style: italic; }

.form__input {
  position: relative;
  width: 100%;
  max-width: 360px; }
  .form__input input, .form__input textarea {
    border: 0;
    border-radius: 5px;
    background-color: #eeeeee;
    outline: none;
    padding: 1rem 1.2rem;
    width: 100%;
    font-size: 1.4rem; }
  .form__input textarea {
    height: 12rem; }
  .form__input__adornment {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; }
    .form__input__adornment button {
      border: 0;
      background-color: transparent;
      outline: none;
      padding: 0;
      font-size: 1.6rem;
      display: flex;
      flex-direction: row;
      align-items: center; }
  .form__input__tooltip {
    font-size: 10px !important;
    text-align: center;
    padding: 6px 10px !important;
    min-width: 100px; }

.form__error {
  margin-top: 8px;
  color: #f14668;
  font-size: 11px; }

.form--inline .form__main {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.form--inline .form__fields {
  width: 250px; }

.form--inline .form__submit {
  margin-left: 10px; }

.slider {
  position: relative; }
  .slider .slider__image img {
    width: 100%; }
  .slider .slick-arrow {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #a81c1b;
    color: #ffffff;
    z-index: 4; }
    .slider .slick-arrow:before {
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain; }
    .slider .slick-arrow.slick-next {
      right: -7rem; }
      .slider .slick-arrow.slick-next:before {
        background-image: url("../assets/images/icons/ForwardWhite.svg"); }
    .slider .slick-arrow.slick-prev {
      left: -7rem; }
      .slider .slick-arrow.slick-prev:before {
        background-image: url("../assets/images/icons/BackwardWhite.svg"); }
    .slider .slick-arrow.slick-disabled {
      opacity: 0.5; }

.cta {
  position: relative; }
  .cta__main {
    align-items: center; }
  .cta__thumbnail img {
    width: 100%; }
  .cta--align--top .cta__main {
    align-items: flex-start; }
  .cta__content--right {
    text-align: right; }
  .cta__title {
    margin: 0; }
  .cta__subtitle {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 400; }
  .cta__body {
    margin-top: 40px; }
    .cta__body p:first-child {
      margin-top: 0; }
    .cta__body p:last-child {
      margin-bottom: 0; }
  .cta__action {
    margin-top: 28px; }
  .cta--thumb-right .cta__main {
    flex-direction: row-reverse; }

.alert {
  position: relative;
  transition: all 0.4s;
  padding: 1rem 1.5rem;
  border-radius: 4px; }
  .alert__inner {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .alert__icon {
    margin-right: 1rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .alert--default {
    background-color: #ffffff;
    color: #444444; }
  .alert--success {
    background-color: #48c78e;
    color: white; }
  .alert--warning {
    background-color: #f7942c;
    color: white; }
  .alert--danger {
    background-color: #f14668;
    color: white; }
  .alert--info {
    background-color: #3e8ed0;
    color: white; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  visibility: hidden; }
  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0; }
  .modal__main {
    position: relative;
    z-index: 2;
    min-width: 42rem;
    max-width: 78rem;
    padding: 3rem;
    border-radius: 15px;
    background-color: #ffffff;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10rem); }
  .modal__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }
    .modal__close button {
      border: 0;
      outline: none;
      padding: 0;
      background-color: transparent;
      font-size: 1.8rem; }
  .modal__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; }
  .modal[data-state="open"] {
    visibility: visible; }
    .modal[data-state="open"] .modal__overlay {
      visibility: visible;
      opacity: 1; }
    .modal[data-state="open"] .modal__main {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.2s; }
  .modal[data-state="close"] .modal__overlay {
    transition-delay: 0.2s; }

.modal-alert .modal__main {
  min-width: 48rem; }

.modal-alert .modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.modal-alert .modal__icon {
  margin-bottom: 1.6rem; }
  .modal-alert .modal__icon svg {
    font-size: 6rem;
    color: #2b2b2b; }

.modal-alert .modal__title h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2b2b2b;
  margin-bottom: 1rem; }

.modal-alert .modal__info {
  font-size: 1.4rem;
  color: #666666; }

.modal-alert .modal__action {
  margin-top: 3rem; }

.modal-alert--primary .modal__icon svg,
.modal-alert--primary .modal__title h2 {
  color: #a81c1b; }

.modal-alert--success .modal__icon svg,
.modal-alert--success .modal__title h2 {
  color: #48c78e; }

.modal-alert--danger .modal__icon svg,
.modal-alert--danger .modal__title h2 {
  color: #f14668; }

.modal-alert--warning .modal__icon svg,
.modal-alert--warning .modal__title h2 {
  color: #f7942c; }

.modal-alert--info .modal__icon svg,
.modal-alert--info .modal__title h2 {
  color: #3e8ed0; }

.loader {
  --sk-color: #aaaaaa; }
  .loader--xxs {
    --sk-size: 10px; }
  .loader--xs {
    --sk-size: 20px; }
  .loader--sm {
    --sk-size: 30px; }
  .loader--lg {
    --sk-size: 50px; }
  .loader--xl {
    --sk-size: 60px; }
  .loader--xxl {
    --sk-size: 80px; }
  .loader--black {
    --sk-color: #2b2b2b; }
  .loader--primary {
    --sk-color: #a81c1b; }
  .loader--success {
    --sk-color: #48c78e; }
  .loader--warning {
    --sk-color: #f7942c; }
  .loader--danger {
    --sk-color: #f14668; }
  .loader--info {
    --sk-color: #3e8ed0; }

.spinner {
  --sk-color: #aaaaaa; }
  .spinner--xxs {
    --sk-size: 8px; }
  .spinner--xs {
    --sk-size: 12px; }
  .spinner--sm {
    --sk-size: 18px; }
  .spinner--md {
    --sk-size: 24px; }
  .spinner--lg {
    --sk-size: 36px; }
  .spinner--xl {
    --sk-size: 48px; }
  .spinner--xxl {
    --sk-size: 70px; }
  .spinner--black {
    --sk-color: #2b2b2b; }
  .spinner--white {
    --sk-color: #ffffff; }
  .spinner--primary {
    --sk-color: #a81c1b; }
  .spinner--success {
    --sk-color: #48c78e; }
  .spinner--warning {
    --sk-color: #f7942c; }
  .spinner--danger {
    --sk-color: #f14668; }
  .spinner--info {
    --sk-color: #3e8ed0; }

.content__section {
  margin-bottom: 8rem; }
  .content__section:last-child {
    margin-bottom: 0; }

.content__intro {
  margin-bottom: 40px; }
  .content__intro p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px; }
    @media (max-width: 340px) {
      .content__intro p {
        font-size: 18px;
        line-height: 26px; } }
    .content__intro p:last-child {
      margin-bottom: 0; }

.content__entry h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
  margin: 30px 0; }
  @media (max-width: 340px) {
    .content__entry h2 {
      font-size: 16px;
      line-height: 22px; } }

.content__entry p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px; }
  @media (max-width: 340px) {
    .content__entry p {
      font-size: 14px;
      line-height: 20px; } }

.content__empty {
  font-size: 16px;
  line-height: 22px;
  color: #2b2b2b; }

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav ul > li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 1.2rem 3rem;
    border-radius: 0.8rem;
    transition: all 0.4s;
    color: #2b2b2b; }
    .nav ul > li > a .icon {
      margin-right: 1rem;
      font-size: 16px;
      width: 2rem; }
      .nav ul > li > a .icon + span {
        color: #2b2b2b; }
    .nav ul > li > a .nav__toggle {
      margin-left: auto;
      font-size: 1.2rem;
      transition: transform 0.4s; }

.nav a {
  text-decoration: none;
  transition: all 0.4s; }

.nav--horizontal > ul {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .nav--horizontal > ul > li {
    margin: 0 0.5rem; }
    .nav--horizontal > ul > li > a:hover {
      background-color: #a81c1b;
      color: #ffffff; }
      .nav--horizontal > ul > li > a:hover .icon + span {
        color: #a81c1b; }
    .nav--horizontal > ul > li > a[data-state="active"], .nav--horizontal > ul > li > a.active {
      background-color: #a81c1b;
      color: #ffffff; }

.nav--vertical .nav__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2rem; }

.nav--vertical > ul > li > a {
  padding: 2rem 0;
  text-decoration: none; }

.nav--social > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .nav--social > ul > li {
    margin: 0 1rem; }
    .nav--social > ul > li > a {
      font-size: 2rem;
      color: #2b2b2b;
      transition: all 0.4s; }
      .nav--social > ul > li > a:hover {
        color: #2b2b2b; }

.nav__submenu {
  overflow: hidden;
  transition: all 0.4s; }
  .nav__submenu ul {
    padding-top: 10px;
    padding-bottom: 10px; }
    .nav__submenu ul > li {
      margin-bottom: 12px; }
      .nav__submenu ul > li > a {
        font-size: 12px;
        color: #515151; }
        .nav__submenu ul > li > a:hover {
          color: #a81c1b; }

.nav--with-icon .nav__submenu {
  padding-left: 3rem; }

[data-collapsed="false"] .nav__toggle {
  transform: rotate(-90deg); }

.header {
  position: relative;
  padding: 2rem 0;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header > div {
    flex: 1; }
  @media (max-width: 768px) {
    .header .container {
      padding: 0 3rem; } }
  @media (max-width: 480px) {
    .header .container {
      padding: 0 2rem; } }
  .header--fixed .header__sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: sticky-anim 0.4s ease-out forwards;
    animation-delay: 0.2s;
    transform: translateY(-8rem);
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05); }
    .header--fixed .header__sticky > div {
      flex: 1; }
  .header__inner {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header__main {
    cursor: pointer; }
    .header__main h1 {
      margin: 0; }
    .header__main a {
      display: block; }
    .header__main img {
      height: 68px; }
      @media (max-width: 480px) {
        .header__main img {
          height: 56px; } }
      @media (max-width: 340px) {
        .header__main img {
          height: 48px; } }
  .header__nav {
    margin-left: auto; }
    @media (max-width: 768px) {
      .header__nav__main, .header__nav .nav--social {
        display: none; } }
  .header__mobile__trigger {
    margin-left: 1.2rem;
    border: none;
    outline: 0;
    padding: 0;
    background-color: transparent;
    font-size: 3.2rem;
    display: none; }
    @media (max-width: 768px) {
      .header__mobile__trigger {
        display: block; } }
  .header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    transition-delay: 0.2s;
    display: none; }
    @media (max-width: 768px) {
      .header__mobile {
        display: block; } }
    .header__mobile[data-state="open"] {
      visibility: visible;
      opacity: 1; }
      .header__mobile[data-state="open"] .header__mobile__inner {
        transform: translateX(0); }
      .header__mobile[data-state="open"][data-animated="start"] {
        transition: all 0.4s;
        transition-delay: 0s; }
        .header__mobile[data-state="open"][data-animated="start"] .header__mobile__inner {
          transition: all 0.4s;
          transition-delay: 0.2s; }
    .header__mobile[data-animated="start"] {
      visibility: visible;
      opacity: 1; }
      .header__mobile[data-animated="start"] .header__mobile__inner {
        transform: translateX(0); }
    .header__mobile__inner {
      width: 90%;
      height: 100%;
      max-width: 48rem;
      background-color: #ffffff;
      margin-left: auto;
      padding: 2rem 2rem 3rem;
      display: flex;
      flex-direction: column;
      transform: translateX(110%);
      transition: all 0.3s; }
    .header__mobile__top {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .header__mobile__logo img {
      height: 5rem; }
    .header__mobile__close {
      margin-left: auto;
      border: none;
      outline: 0;
      padding: 0;
      background-color: transparent;
      font-size: 3.2rem; }
    .header__mobile__main {
      flex: 1;
      padding: 5rem 0 4rem; }
      .header__mobile__main > ul > li > a {
        font-size: 2.4rem;
        font-weight: 700; }
        .header__mobile__main > ul > li > a:hover {
          color: #a81c1b; }
        .header__mobile__main > ul > li > a.active {
          color: #a81c1b; }
          .header__mobile__main > ul > li > a.active:after {
            background-color: #a81c1b; }
    .header__mobile__bottom {
      margin-top: auto; }

@keyframes sticky-anim {
  from {
    transform: translateY(-8rem); }
  to {
    transform: translateY(0); } }
