//- components/posts/post-2.pug

- var title = 'Improving a New Product for Commercial Acceleration'
- var img = '../images/post--thumbnail--3.jpeg'
- var cat = 'Product Placement Test'
- var link = '#'

+card(title, false, img, link, cat)