//- components/form.pug

form.form(method="post" action="" enctype="multipart/form-data")

  .form__field
    .form__icon
      img(src="../images/icon--user--white.svg" alt="")
    
    .form__main
      .form__control
        input(type="text" name="name" placeholder="Name *")

  .form__field
    .form__icon
      img(src="../images/icon--email--white.svg" alt="")
    
    .form__main
      .form__control
        input(type="text" name="email" placeholder="E-mail *")

  .form__field.form__upload
    .form__icon
      img(src="../images/icon--notes--white.svg" alt="")
    
    .form__main
      .form__label Already have the brief?
      .form__upload__main
        .form__upload__info (PDF, PPT or Word)
        .form__upload__control
          input(type="file" name="doc" accept="application/pdf,application/vnd.ms-powerpoint,application/msword")
          .form__upload__button
            +button('Upload here', 'dark', 'sm', 'arrow-circle-up', 'left')

  .form__field.form__field__message
    .form__main
      .form__control
        textarea(name="message" placeholder="What do you wanna say?")

  .form__submit
    +button('Submit')