//- 1-settings/color

$color-primary: #bd1d1d;
$color-secondary: #444444;
$color-black: #222222;
$color-gray: #999999;
$color-muted: #cccccc;

$color-info: #3e8ed0;
$color-success: #48c78e;
$color-danger: #f14668;
$color-warning: #ffe08a;

$color-link: $color-primary;