extends ../modal/alert

block vars
  - var title = 'Error'
  - var variant = 'danger';
  - var rootClass = 'quiz__alert-error';
  - var status = 'close';
  - var buttonLabel = 'Ok';

block icon
  .modal__icon
    +icon__danger

block info
  p
    | You must select an answer to continue this quiz.