//- components/quiz/top.pug

.quiz__top.sidebar__main
  .quiz__top__inner
    .quiz__title
      h2.text--lg 
        span Clove’s <br />Market Research Check up

    .quiz__dir
      p.quiz__dir__title
        span Question
        |
        |
        strong.quiz__dir__step 1

      .quiz__dir__bar
        .quiz__dir__bar__value(style="width: 0%")
        
      
    
  