.ui__nav__dropdown

    ul._menus
        li._menu._active
            a(href="#") Dashboard

        li._menu
            a(href="#")
                | Page
                <span class="caret"></span>

            ul._submenu
                li
                    a(href="") All Pages
                li
                    a(href="") Add Page
                li
                    a(href="") Cover

        li._menu
            a(href="#")
                | Post
                <span class="caret"></span>

            ul._submenu
                li
                    a(href="") All Posts
                li
                    a(href="") Add Post
                li
                    a(href="") Category
                li
                    a(href="") Tag
                li
                    a(href="") Featured
                li
                    a(href="") Authors

        li._menu
            a(href="") Settings
