.ui__nav__tab
    ._tab--inner

        ._tab--menu
            ul._menus.nav.nav-pills
                li._menu._active.active
                    a(href="#tab_A") Tab A
                li._menu
                    a(href="#tab_B") Tab B
                li._menu
                    a(href="#tab_C") Tab C
                li._menu
                    a(href="#tab_D") Tab D

        ._tab--content
            ._tab--section._shown#tab_A
                .tab--section--inner
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus quam sit amet consequat mattis. Quisque vel pharetra nibh. Fusce mauris ex, porta ullamcorper scelerisque vestibulum, sollicitudin ut ex. Phasellus molestie vulputate molestie. Aenean elementum vitae velit a ullamcorper. Nulla commodo dolor vitae urna dictum, at tristique erat fringilla. Vivamus sodales maximus egestas. Sed efficitur sapien quis libero ultrices, quis tempus ligula tincidunt.

            ._tab--section#tab_B(style="display:none;")
                .tab--section--inner
                    p Donec tristique sit amet lectus suscipit pretium. Aliquam erat volutpat. Mauris accumsan nisi arcu, vel efficitur metus maximus vitae. Vestibulum semper ligula non lorem porttitor finibus. Nullam blandit vehicula enim, vel laoreet augue euismod vel. Vivamus ullamcorper interdum erat quis efficitur. Praesent tellus risus, rutrum quis est eu, imperdiet feugiat dui. Phasellus efficitur tristique faucibus. Donec elementum rhoncus eros. Fusce sit amet scelerisque nulla. Sed ultricies tincidunt orci vel pharetra. Nam posuere lacinia felis, a tincidunt magna ullamcorper quis. Donec venenatis odio id vulputate molestie. Aenean vulputate dolor eget ligula egestas, vitae iaculis ipsum vestibulum.

                    p Proin convallis tincidunt felis, eget tempor elit volutpat ac. Sed eu magna non justo cursus lacinia. Aliquam erat volutpat. Aliquam sagittis odio vel mollis ornare. Aenean tincidunt mi ac rhoncus tincidunt. Nam fermentum ipsum et risus dignissim, et sollicitudin justo vulputate. Maecenas efficitur nulla ex, egestas bibendum libero tincidunt vitae. Donec finibus orci dolor, vitae placerat augue accumsan id. Fusce tempus, est ut consequat dapibus, nulla nisl rhoncus nulla, id porttitor ex lorem sodales ex.

                    p Praesent dapibus viverra felis eu interdum. Donec odio libero, pellentesque sed neque in, laoreet commodo dui. Curabitur tempor tincidunt diam non dignissim. Etiam a aliquam quam. Praesent elementum sapien nec consequat vestibulum. Mauris vulputate sagittis feugiat. Duis rutrum ultrices ex, id accumsan massa pellentesque nec. Nunc auctor venenatis est. Integer faucibus nisl elementum sem pretium lacinia. Praesent enim augue, iaculis non fringilla sed, hendrerit egestas magna. Curabitur suscipit faucibus lobortis. Nullam in blandit orci, non viverra quam. In aliquet luctus vestibulum.


            ._tab--section#tab_C(style="display:none;")
                .tab--section--inner
                    p Nullam rutrum purus quis leo efficitur, sit amet cursus mi blandit. Proin mollis lectus vel nunc maximus, et interdum ligula lacinia. Aliquam mattis libero id fringilla fermentum. Aenean dictum, enim sed vehicula accumsan, dolor libero cursus dolor, eget molestie elit lectus eu nulla. Fusce pretium vitae lectus non maximus. Donec sed lacinia orci. Etiam non mauris rhoncus nibh interdum suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam eu dolor diam. In accumsan fringilla tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc a posuere ipsum.

                    p Phasellus et vestibulum nisi. Duis convallis magna id nulla posuere venenatis. Mauris ut auctor erat. Ut sed tellus iaculis, accumsan enim ac, scelerisque ante. Curabitur ultricies lacinia nibh a sollicitudin. Praesent eget pulvinar neque. Aenean ultrices purus ut eros tristique, quis pretium ex mollis. Pellentesque imperdiet sem ut imperdiet tempor. In fermentum lectus leo, nec sodales felis egestas vitae.

            ._tab--section#tab_D(style="display:none;")
                .tab--section--inner
                    p Phasellus mi felis, congue a elementum ut, cursus quis erat. Sed tortor elit, sagittis ac vehicula quis, dictum non elit. Mauris eu nisi hendrerit, dapibus elit quis, pulvinar ipsum. In aliquet viverra magna eget bibendum. Donec et tristique magna, sit amet pretium lectus. Nullam in maximus turpis. Vestibulum sapien turpis, sodales ut nisi in, finibus dictum diam. Nunc eu nisl ac elit viverra aliquam. Suspendisse ut leo rutrum, tincidunt augue ut, sagittis nisi. In id augue enim. Vestibulum aliquam tempus faucibus. Aliquam tristique, nisi quis tristique porttitor, lorem lacus eleifend sem, consectetur finibus nisl ex eget dui. Nam id dictum erat. Sed tortor nunc, rhoncus non egestas in, maximus at urna.

                    p Vivamus rhoncus eleifend porta. Mauris quis pretium nunc. Nam dictum erat eu ultricies vehicula. Vestibulum euismod, mi eget cursus fringilla, eros nibh consequat lorem, ut tincidunt ante quam in ante. Vivamus luctus venenatis magna, eget vestibulum ante blandit ac. Pellentesque pretium nec nibh eget efficitur. In pellentesque nunc nec nisi ornare imperdiet. Ut viverra cursus quam. Aenean lacinia laoreet ullamcorper.

                    p In gravida sit amet arcu sed consectetur. Aliquam nec egestas orci. Aenean iaculis tortor non porttitor accumsan. Curabitur nec libero sed quam pulvinar faucibus ut sed arcu. Proin ut malesuada mauris. Duis congue elit quis leo molestie sollicitudin. Nulla molestie sollicitudin nunc nec scelerisque. Donec nec lorem ante. Vestibulum neque nisl, accumsan eu velit vitae, commodo porttitor diam. Morbi viverra eleifend nisl, eget aliquet sem porttitor a. In pulvinar turpis vel hendrerit maximus. Nam sem tellus, malesuada ut pretium vitae, finibus a ipsum.
