//-
//- Case Study Detail
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Case Study Details - Clove';
  - var pageName      = 'case-study-details';
  - var bodyClass     = 'p-case-study-detail';
  - var cssFile       = 'case-study-detail';

block main

  .blog__detail__cover
    .card.card--info-inside
      .card__thumb
        .card__thumb__image
          img(src="../images/cover.jpg" alt="")
      .card__info
        .card__info__inner
          .card__category.category
            span.category__main Retail Census

          .card__title 
            h3.card__title__main.text--2xl Consumer behavior in the Covid recovery: Polarizing “moving-on mindsets” within retail

  .blog__detail__main.bg--content.text--black
    .container.container--lg
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non tincidunt ex. Ut commodo justo eget felis fringilla aliquet. Fusce in accumsan dui. Morbi elementum massa volutpat risus maximus, feugiat sodales dolor semper. Mauris justo quam, iaculis vitae diam a, pretium interdum risus. Donec sagittis odio quis rutrum finibus. Integer eleifend ullamcorper euismod. Phasellus sed gravida mauris. Cras lacinia vitae sapien vel semper. Nam sed tellus neque. Sed nunc eros, commodo sit amet volutpat eu, rhoncus vel urna. Etiam at scelerisque mauris, vel sagittis lectus. In ac eros arcu. Aliquam elementum rhoncus placerat. Donec dignissim, diam quis elementum faucibus, massa odio auctor eros, semper ultrices lacus risus lobortis quam. Integer non lectus placerat, tristique sapien et, consectetur lectus.

      .blog__detail__share
        strong Share this
        include ../components/social

  include ../components/chat

  .section.section--space-md.bg--main-red-5
    .section__inner
      .container
        .section__main
          .section__header
            .section__header__main
              h2.text--xl You might interest with this too

          .section__body
            .grid.gap--md
              .column--33
                include ../components/posts/post-1
              .column--33
                include ../components/posts/post-2
              .column--33
                include ../components/posts/post-3
