//-
//- Homepage
//-
extends ../layouts/master

block vars
  - var pageTitle      = 'Clove Home';
  - var pageName       = 'home';
  - var bodyClass      = 'home';
  - var showFooterChat = true;
  - var cssFile        = 'home';

block main
  .home__intro
    +cta-section('Creating loyalty and value', 'Who we are')

  .home__services
    .section.section--space-lg.bg--main-red-2
      .container
        .section__main
          .section__header.section__header--center
            .section__header__main
              h2.text--3xl We always push to deliver
          .section__body
            include ../components/features
          .section__footer
            +button-link('Learn More', '#') 

  .home__projects
    .section.section--space-md.bg--main-red-3
      .section__inner
        .container
          .section__main
            .section__header
              .section__header__main
                h2.text--3xl What we’ve done
                p We provide you with solutions for improvement to <br />help you business grow.
              .section__header__widget
                h2.text--xl Header widget
            .section__body
              .grid.gap--md
                .column--33
                  include ../components/posts/post-1
                .column--33
                  include ../components/posts/post-2
                .column--33
                  include ../components/posts/post-3

            .section__footer
              +button-link('See all', '#') 

  .home__market
    +cta-section(false, 'Let’s go!', 'lg', 'main-red-4')

  .home__posts
    .section.section--space-lg.bg--main-red-3
      .section__inner
        .container
          .section__main
            .section__header
              .section__header__main
                h2.text--3xl Here are some of our recent thoughts
            .section__body
              .grid.gap--md
                .column--50
                  include ../components/posts/post-1
                .column--50
                  include ../components/posts/post-2

            .section__footer
              +button-link('See all', '#') 

  //- Supported
  include ../includes/home/supported

  //- Testimony
  include ../includes/home/testimony

  //- Chat
  include ../components/chat