//-
//- components/call-to-action
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components Call To Action';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
  //- mixins/cta.pug
  +cta-section('Creating loyalty and value', 'Who we are')
  +cta-section(false, 'Read more', 'md', 'main-red-2', 'lg', 'middle', 'left', 'right')
  +cta-section(false, false, 'top section--space-md', 'main-red-3', 'lg', 'middle', 'left', 'right')
  +cta-section(false, 'Read more', 'md', 'main-red-4', 'lg', 'middle', 'right')
  +cta-section('Creating loyalty and value', 'Who we are', 'md', 'main-red-5', 'md', 'top', 'left', 'right')