.container
    .row
        .col-md-3
            a.ui__nav__mobile--trigger(href="")
                i.fa.fa-bars

.ui__nav__mobile--main

    ._nav--menus

        a._nav--close(href="")
            i.fa.fa-times

        ._nav--dropdown

            ul.nav.nav-pills.nav-stacked._menus
                li._menu._active.active
                    a(href="#") Dashboard
                li._menu
                    a(href="#")
                        | Page
                        <span class="caret"></span>

                    ul._submenu.nav.nav-pills.nav-stacked
                        li
                            a(href="") All Pages
                        li
                            a(href="") Add Page
                        li
                            a(href="") Cover

                li._menu
                    a(href="#")
                        | Post
                        <span class="caret"></span>

                    ul._submenu.nav.nav-pills.nav-stacked
                        li
                            a(href="") All Posts
                        li
                            a(href="") Add Post
                        li
                            a(href="") Category
                        li
                            a(href="") Tag
                        li
                            a(href="") Featured
                        li
                            a(href="") Authors

                li._menu
                    a(href="#")
                        | Product
                        <span class="caret"></span>

                    ul._submenu.nav.nav-pills.nav-stacked
                        li
                            a(href="") All Products
                        li
                            a(href="") Add Product
                        li
                            a(href="") Category
                        li
                            a(href="") Tag

                li._menu
                    a(href="#")
                        | User
                        <span class="caret"></span>

                    ul._submenu.nav.nav-pills.nav-stacked
                        li
                            a(href="") All Users
                        li
                            a(href="") Add User
                        li
                            a(href="") User Role
                        li
                            a(href="") Add Role
                        li
                            a(href="") Members

                li._menu
                    a(href="") Message

                li._menu
                    a(href="") Settings
