// 
// Blog detail
//
.blog__detail {
  &__cover {
    .card {
      margin-bottom: 0;

      &:hover {
        .card__thumb {
          img {
            transform: scale(1);
          }
        }
        .card__info__main {
          transform: translateY(0);
        }
      }
    }
    .card__deco {
      display: none;
    }
    .card__thumb__image {
      height: 32.5rem;
    }
    .card__info {
      text-align: center;
      max-width: 54rem;
      margin: 0 auto;
      padding-bottom: 4rem;
    }
    .card__desc {
      margin-top: 1.5rem;
    }
    .card__category {
      justify-content: center;
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }

  &__main {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}