//
// Career details
//
.career__detail {
  &__main {
    .grid {
      align-items: inherit;

      > div > div {
        height: 100%;
      }
    }
  }

  &__content {
    padding: 4.25rem
  }

  &__form {
    .form__field {
      &:first-child {
        border-top: 0;
      }
    }
  }
}