//- components/header/vars.pug

- var siteLogo = 'images/logo--main.svg';
- var siteTitle = '';
- var containerClass = 'container container--full';
- var layout = 'default';
- var titleTag = 'span';
- var homeUrl = 'index.html';
- var homeNavLabel = 'Home';