//- includes/home/supported.pug

.home__supported
  .section.section--space-lg.bg--main-red-2
    .container.container--sm 
      .section__main
        .section__header.section__header--center
          .section__header__main
            h2.text--3xl We have supported

        .section__body
          ul.home__supported__list
            li
              span
                img(src="images/logo--belfoods.png" alt="Belfoods")
            li
              span
                img(src="images/logo--bintang-toedjoe.png" alt="Bintang Toedjoe")
            li
              span
                img(src="images/logo--savoria.png" alt="Savoria")
            li
              span
                img(src="images/logo--universal-music.png" alt="Universal Music Indonesia")
            li
              span
                img(src="images/logo--unza.png" alt="UNZA")
            li
              span
                img(src="images/logo--blue-scope.png" alt="Blue Scope")
            li
              span
                img(src="images/logo--danone.png" alt="Danone")
            li
              span
                img(src="images/logo--h-three.png" alt="H Three")
            li
              span
                img(src="images/logo--pharos.png" alt="Pharos")
            li
              span
                img(src="images/logo--kfc.png" alt="KFC")
            li
              span
                img(src="images/logo--mitsubishi.png" alt="Mitsubishi Motors")
            li
              span
                img(src="images/logo--uj.png" alt="Ultra Jaya")
            li
              span
                img(src="images/logo--godrej.png" alt="Godrej")