//- includes/home/testimony.pug

.home__testimony
  .section.section--space--lg.bg--main-red-2
    .section__bg(style="background-image: url(images/home__testimony--bg.jpeg)")
    .container
      .section__main
        .section__body
          .home__testimony__main
            blockquote.text--3xl
              | We believe research agencies should focus on the marketing concern and answering the objective. <strong>Although we have the capabilities, but your concern is the most important for us.</strong>