//- 5-components/category

.category {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -0.75rem;

  &:before {
    content: "";
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: linear-gradient(180deg, $color-gradient-category 0%, transparent 100%);
  }

  &:after {
    content: "";
    width: 4.25rem;
    height: 1px;
    background-color: $color-white;
  }

  &__main {
    color: $color-white;
    font-size: $text-md;
    line-height: $text-md;
    margin-left: -2rem;
    margin-right: 1rem;
  }
}