//- 5-components/footer
.footer {
  background-color: $color-footer;

  p {
    font-size: $text-sm;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__primary {
    margin-right: 2.5rem;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 2.25rem;

    img {
      height: 2.5rem;
    }
  }

  &__social {
    margin-bottom: 1.5rem;

    a {
      font-size: 1.5rem;
      color: $color-white;
      margin-right: 1.25rem;
    }
  }

  &__nav {
    p {
      margin: 0;
    }
    a {
      color: $color-white;
    }
    span {
      margin: 0 .625rem;
    }
  }

  &__secondary {
    margin-left: auto;
    padding-right: 16.25rem;
  }

  &__address {
    p:first-child {
      margin-top: 0;
    }
  }

  &__copy {
    margin-top: auto;
    p {
      margin: 0;
    }
  }

  &__chat {
    width: 13.75rem;
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      width: 100%;
    }
  }
}