//- 40-layouts/sidebar
//-
//- From: https://design-system.w3.org/
//-   and https://absolutely.every-layout.dev/layouts/sidebar/

.sidebar {
  overflow: hidden;

  > * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1rem;
  }

  > * > * {
    margin: 1rem;
  }

  &__main {
    @include stack;

    flex-basis: 20rem;
    flex-grow: 1;
  }

  &__content {

    @include stack;

    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(55% - 1.5rem);
  }

  &--expanded {
    width: 100%;
  }

  &--reverse {
    > * {
      flex-direction: row-reverse;
    }
  }

  &--no-space {
    > * {
      margin: 0;
       
      > * {
        margin: 0;
      }
    }
  }

  &--no-space-x {
    > * {
      margin-left: 0;
      margin-right: 0;
       
      > * {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &--xl {
    .sidebar__main {
      flex-basis: 26rem;
    }
  }

  &--lg {
    .sidebar__main {
      flex-basis: 22rem;
    }
  }

  &--sm {
    .sidebar__main {
      flex-basis: 15rem;
    }
  }

  &--xs {
    .sidebar__main {
      flex-basis: 12rem;
    }
  }
}

