//- 1-settings/layout

$container-size-xs: 54rem;
$container-size-sm: 62rem;
$container-size-md: 70rem;
$container-size-lg: 82rem;
$container-size-xl: 90rem;

$space-100: .5rem; // 8px
$space-200: .625rem; // 10px
$space-300: 1rem; // 16px
$space-400: 1.5rem; // 24px
$space-500: 2.5rem; // 40px
$space-600: 3.5rem; // 56px 
$space-700: 4.75rem; // 76px
$space-800: 6rem; // 96px 
$space-900: 10rem; // 160px