//-
//- Market quiz
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'Market Quiz - Clove';
  - var pageName      = 'market-quiz';
  - var bodyClass     = 'p-quiz';
  - var cssFile       = 'quiz';
  - var jsFile        = 'quiz';

block main
  .container
    .p-quiz__main
      include ../components/quiz/index

      .p-quiz__deco
        img(src="images/quiz--object.png" alt="")