//-
//- components/button
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components Buttons';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
