//-
//- components/button
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components Buttons';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
  .section.section--space-md
    .container
      p
        +button-link('Read More', '#') 
      p
        +button-link('Who we are', '#', 'white', 'sm')
      p
        +button-linkedin('#')
      p
        +button('Submit')
      p
        +button-link-line('All Categories', '#')


  .section.section--space-md.bg--white
    .container
      p
        +button-link('See listing details', '#', 'dark')
      p
        +button-link('See listing details', '#', 'dark', 'sm')
      p
        +button('Upload here', 'dark', 'md', 'far fa-arrow-alt-circle-up', 'left')
      p
        +button-link-line('All Categories', '#', 'primary')
      p
        +button-link-line('All Categories', '#', 'dark')
      p
        +button-social('fab fa-facebook', '#')

      <br />
      .button__group
        +button-social('fab fa-facebook', '#')
        +button-social('fab fa-twitter', '#')
        +button-social('fab fa-linkedin', '#')
        +button-social('far fa-envelope', '#')

  <br />
  <br />
  <br />
  .section
    .container
      .button__group.button__pagination
        +button-pagin('prev', '#')
        +button-pagin('1', '#')
        +button-pagin('2', '#')
        +button-pagin('...', '#')(disabled="disabled")
        +button-pagin('11', '#')
        +button-pagin('12', '#')
        +button-pagin('next', '#')

  
  <br />
  <br />
  <br />