//-
//- components/card
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components Card';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
