//-
//- components/chat
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components chat';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
  include ../../components/chat.pug