//-
//- components/feature
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components feature';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
