//-
//- components/form
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components form';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
