//-
//- components/page-top
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components page top';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
