//-
//- components/profile
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components profile';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
