//-
//- components/section
//-
extends ../../layouts/component

block vars
  - var pageTitle     = 'Components section';
  - var pageName      = 'components';
  - var bodyClass     = 'test components';

block main
