//- 2-tokens/font

.font-- {
  &main {
    font-family: $font-main;
  }
  &title {
    font-family: $font-title;
  }
}

.text-- {
  &2xs {
    font-size: $text-2xs;
    line-height: $line-height-2xs;
  }
  &xs {
    font-size: $text-xs;
    line-height: $line-height-xs;
  }
  &sm {
    font-size: $text-sm;
    line-height: $line-height-sm;
  }
  &md {
    font-size: $text-md;
    line-height: $line-height-md;
  }
  &lg {
    font-size: $text-lg;
    line-height: $line-height-lg;
  }
  &xl {
    font-size: $text-xl;
    line-height: $line-height-xl;
  }
  &2xl {
    font-size: $text-2xl;
    line-height: $line-height-2xl;
  }
  &3xl {
    font-size: $text-3xl;
    line-height: $line-height-3xl;
    // < 768px
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
    // < 480px
    @media (max-width: 480px) {
      font-size: 2.25rem;
      line-height: 1.1;
    }
  }
}