//-
//- Button mixin
mixin button__content( label, type, icon )
  span.button__inner
    span.button__label= label
    if icon
      span.button__icon
        i(class="fa fa-"+icon)

//- Button mixin
mixin button( label, variant = 'primary', icon = false )
  button(type="button", class="button button--"+variant)&attributes(attributes)
    +button__content(label, type, icon)

//- Button link mixin
mixin button_link( label, link, variant = 'primary', icon = false )
  a(href=link, class="button button--"+variant)&attributes(attributes)
    +button__content(label, type, icon)