//-
//- Button mixin
mixin button__content( label, type, icon )
  span.button__inner
    span.button__label= label
    if icon
      span.button__icon
        i(class="fa fa-"+icon)

//- Button mixin
mixin button( label, type = 'primary', variant = 'default', icon = false )
  button(type="button", class="button button--"+type)&attributes(attributes)
    +button__content(label, type, icon)