//-
//- Loader mixin
mixin loader(type, size = 'md', color = 'muted', divCount = 0, dotClass = 'dot', prefix = 'sk')
  div(class="loader loader--"+size+" loader--"+color)
    div(class="loader__icon "+prefix+"-"+type)
      - var n = 0;
      while n < divCount
        div(class=prefix+"-"+type+"-"+dotClass, data-index=n++)

mixin loader__plane(size = 'md', color = 'muted')
  +loader('plane', size, color)

mixin loader__chase(size = 'md', color = 'muted')
  +loader('chase', size, color, 6)

mixin loader__bounce(size = 'md', color = 'muted')
  +loader('bounce', size, color, 2)

mixin loader__wave(size = 'md', color = 'muted')
  +loader('wave', size, color, 5, 'rect')

mixin loader__pulse(size = 'md', color = 'muted')
  +loader('pulse', size, color)

mixin loader__flow(size = 'md', color = 'muted')
  +loader('flow', size, color, 3)

mixin loader__swing(size = 'md', color = 'muted')
  +loader('swing', size, color, 2)

mixin loader__circle(size = 'md', color = 'muted')
  +loader('circle', size, color, 12)

mixin loader__circle-fade(size = 'md', color = 'muted')
  +loader('circle-fade', size, color, 12)

mixin loader__grid(size = 'md', color = 'muted')
  +loader('grid', size, color, 9, 'cube')

mixin loader__fold(size = 'md', color = 'muted')
  +loader('fold', size, color, 4, 'cube')

mixin loader__wander(size = 'md', color = 'muted')
  +loader('wander', size, color, 3, 'cube')
