//- 1-settings/color

$color-primary: #0f59be;
$color-secondary: #1a7d99;
$color-black: #222222;
$color-grey: #999999;
$color-light-grey: #e6e6e6;
$color-dark-grey: #777777;
$color-muted: #cccccc;
$color-white: #ffffff;

$color-info: #3e8ed0;
$color-success: #48c78e;
$color-danger: #f14668;
$color-warning: #f7942c;

$color-link: $color-primary;