//- 1-settings/color

$color-main-red: #a81c1b;
$color-main-red-2: #981314;
$color-main-red-3: #801414;
$color-main-red-4: #6d1313;
$color-main-red-5: #53090a;
$color-red: #a31d1e;
$color-red-2: #811717;
$color-red-3: #6a1415;
$color-pale-white: #f8f0ee;

$color-white: #ffffff;
$color-black: #2b2b2b; 

$color-gradient-start: #730000; 
$color-gradient-end: $color-pale-white; 

$color-primary: $color-main-red;
$color-info: #3e8ed0;
$color-success: #48c78e;
$color-danger: #f14668;
$color-warning: #f7942c;

$color-link: $color-primary;