//- 1-settings/font

//- Font family
$font-main: 'DM Sans', sans-serif;
$font-title: $font-main;

//- Font size
$text-2xs: .6875rem;
$text-xs: .75rem;
$text-sm: .875rem;
$text-md: 1rem;
$text-lg: 1.5rem;
$text-xl: 2rem;
$text-2xl: 2.25rem;
$text-3xl: 3rem;

$line-height-2xs: 1.3;
$line-height-xs: 1.3;
$line-height-sm: 1.4;
$line-height-md: 1.6;
$line-height-lg: 1.3;
$line-height-xl: 1.2;
$line-height-2xl: 1.5;
$line-height-3xl: 1.2;