//- 1-settings/font

//- Font family
$ff-main: 'Arial', sans-serif;
$ff-title: 'Times New Roman', sans-serif;

//- Font size
$text-4xs: 0.8rem;
$text-3xs: 1rem;
$text-2xs: 1.1rem;
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-md: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl: 2.2rem;
$text-3xl: 2.4rem;
$text-4xl: 2.8rem;