//- 1-settings/font

//- Font family
$font-main: 'DM Sans', sans-serif;
$font-title: $font-main;

//- Font size
$text-2xs: 11px;
$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 24px;
$text-xl: 32px;
$text-2xl: 36px;
$text-3xl: 48px;