// 4-core/general.scss

/**
 * Apply generic border-box to all elements.
 * See:
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
 html {
    /* Apply border-box across the entire page. */
    box-sizing: border-box;
}

/**
 * Relax the definition a bit, to allow components to override it manually.
 */
* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

/**
 * general class
 */
.main {
  position: relative;
  padding-top: 4.625rem;
}