//- components/features.pug

.grid.gap--md
  - var img = '../images/card-menu--thumbnail.png'
  .column--25
    +feature('High Quality & Transparent Data', img)
  .column--25
    +feature('Responsive & <br />Responsible', img)
  .column--25
    +feature('Deep Analysis & <br />Impactful Insight', img)
  .column--25
    +feature('Accessible Report Both Offline & Online', img)