//- components/social.pug

.button__social
  .button__group
    +button-social('fab fa-facebook', '#')
    +button-social('fab fa-twitter', '#')
    +button-social('fab fa-linkedin', '#')
    +button-social('far fa-envelope', '#')