//- 5-components/button

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return darken($color, 50);
  }
  @else {
    @return lighten($color, 60);
  }
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  transition: all 0.4s;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1.5rem;
  background-color: $color-white;
  color: $color-primary;
  height: 3.25rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $color-primary;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__label {
    font-size: $text-md;
    line-height: $text-md;
    + .button__icon {
      margin-left: 1rem;
    }
  }

  &__icon {
    font-size: 1em;
    color: $color-primary;
    transition: all 0.4s;

    + .button__label {
      margin-left: 1rem;
    }
  }

  &:disabled, &[disabled], &.disabled {
    cursor: not-allowed;
    opacity: 0.95;
  }

  //
  // Size
  &--sm {
    height: 44px
  }

  //
  // Coloring
  &--dark {
    background-color: #{$color-main-red-5};
    color: $color-white;

    &:visited {
      color: $color-white;
    }

    .button__icon {
      color: $color-white;
    }

    &:hover {
      background-color: darken($color-main-red-5, 6);
      color: $color-white;

      &:disabled, &[disabled], &.disabled {
        background-color: #{$color-main-red-5};
        color: $color-white;
      }
    }
  }

  //
  // Line
  &--line {
    background-color: transparent;
    border: 1px solid $color-white;
    color: $color-white;

    &:visited {
      color: $color-white;
    }

    &:hover {
      background-color: $color-main-red-5;
      border-color: $color-main-red-5;
      color: $color-white;

      &:disabled, &[disabled], &.disabled {
        background-color: transparent;
        border-color: $color-white;
      }
    }

    .button__icon {
      color: $color-white;
    }

    &.button--dark {
      border-color: $color-main-red-5;
      color: $color-main-red-5;

      &:hover {
        color: $color-white;

        &:disabled, &[disabled], &.disabled {
          border-color: $color-main-red-5;
          color: $color-main-red-5;
        }

        .button__icon {
          color: $color-white;
        }
      }
    }

    &.button--primary {
      border-color: $color-primary;
      color: $color-primary;

      .button__icon {
        color: $color-primary;
      }

      &:hover {
        color: $color-white;
        background-color: $color-primary;

        &:disabled, &[disabled], &.disabled {
          background-color: transparent;
          border-color: $color-primary;
          color: $color-primary;

          .button__icon {
            color: $color-primary;
          }
        }

        .button__icon {
          color: $color-white;
        }
      }
    }
  }

  //
  // square
  &--square {
    padding: 0;
    width: 3.25rem;
    text-align: center;

    .button__content {
      width: 100%;
    }

    .button__icon {
      font-size: 1.75rem;
    }

    &.button--sm {
      width: 2.75rem;

      .button__icon {
        font-size: 1.5rem;
      }
    }
  }

  //
  // group
  &__group {
    display: flex;
    flex-direction: row;
    align-items: center;

    > .button--line:not(:last-child) {
      border-right: 0;
    }
  }

  //
  // Loader
  &__loader {
    cursor: not-allowed;
    .spinner {
      --sk-color: #ffffff;
    }
  }

  //
  // Pagination
  &__pagination {
    .button .button__icon {
      font-size: 1rem;
    }
    .button--white:not([disabled]) {
      &:hover {
        background-color: $color-white;
        color: $color-primary;
        
        .button__icon {
          color: $color-primary;
        }
      }
    }
  }
}