//- 5-components/button

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return darken($color, 50);
  }
  @else {
    @return lighten($color, 60);
  }
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  transition: all 0.4s;
  color: #000000;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 24px;
  background-color: #ffffff;
  color: $color-primary;
  height: 52px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__label {
    font-size: $text-md;
    line-height: $text-md;
    + .button__icon {
      margin-left: 20px;
    }
  }

  &__icon {
    font-size: $text-md;
    color: $color-primary;

    + .button__label {
      margin-left: 20px;
    }
  }

  &:disabled, &.button--disabled, &.disabled {
    cursor: not-allowed;
    opacity: 0.95;
  }

  //
  // Size
  &--sm {
    height: 44px
  }

  //
  // Coloring
  &--dark {
    background-color: #{$color-main-red-5};
    color: $color-white;

    &:hover {
      background-color: darken($color-main-red-5, 12);
    }
  }

  //
  // Loader
  &__loader {
    cursor: not-allowed;
    .spinner {
      --sk-color: #ffffff;
    }
  }
}