//- 5-components/card

.card {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  //
  // Deco
  &__deco {
    // content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background-color: $color-white;
    border-radius: 100px 0 0 0;
    z-index: 2;
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    &__icon {
      width: 31px;
      height: 15px;
      background: url('../images/arrow-long-right.svg') no-repeat 0 0;
      background-size: contain;
      margin-top: 10px;
      margin-left: 10px;
      opacity: 0;
      transform: translateX(-10px);
      transition: all 0.4s;
      // transition-delay: 0.4s;
    }
  }

  &:hover {
    .card__deco {
      width: 60px;
      height: 60px;
      transform-origin: right bottom;

      &__icon {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  > a {
    display: block;
  }

  a {
    text-decoration: none;
  }

  &__inner {
    width: 100%;
  }

  //
  // Info
  &__info {
    padding: 30px;

    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__main {
      transition: all 0.4s;
    }
  }

  //
  // Category
  &__category {
    margin-bottom: 0.8rem;

    p {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 1em;
      letter-spacing: 0.2em;

      @media (max-width: 768px) {
        font-size: 1.4rem;
      }
    }
  }

  //
  // Title
  &__title {
    h3 {
      margin: 0;

      a {
        color: #{$color-black};
      }
    }
  }

  //
  // Thumb
  &__thumb {
    position: relative;
  }

  //
  // Desc
  &__desc {
    margin-top: 12px;
    p {
      margin: 0;
    }
  }

  //
  // Tag
  &__tag {
    padding: 8px 12px;
    border-radius: 8px;
    // background-color: $color-main-red;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  //
  // Action
  &__action {
    position: relative;
    padding-top: 2rem;
    margin-top: auto;
  }

  //
  // Info bottom
  &--info-bottom {
    .card {
      &__inner {
        position: relative;
      }
      &__info {
        background-color: $color-main-red-5;
        color: $color-white;
        text-align: center;

        &__main {
          transition: all 0.4s;
        }
      }

      &__thumb {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $color-main-red-5;
          opacity: 0;
          transition: all 0.4s;
        }
      }
        
      &__title {
        margin-top: 20px;
        a {
          color: #{$color-white};
        }
      }

      &__desc {
        max-width: 220px;
        margin: 12px auto 0;
        p {
          margin: 0;
        }
      }

      &__icon {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: $color-white;
        margin: -80px auto 0;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;

        img {
          width: 48px;
        }
      }
    }

    &:hover {
      .card__icon {
        transform: translateY(-100px);
      }
      .card__info__main {
        transform: translateY(-30px);
      }
      .card__thumb:after {
        opacity: 0.5;
      }
    }
  }

  //
  // Info inside
  &--info-inside {
    overflow: hidden;

    .card {
      &__inner {
        position: relative;
        overflow: hidden;
      }
      &__thumb {
        overflow: hidden;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background-image: linear-gradient(transparent, rgba(0,0,0,0.9));
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: all 0.4s;
        }
      }
      &__info {
        color: #{$color-white};
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        
        &__inner {
          display: block;
          width: 100%;
          height: auto;
        }
      }
        
      &__title {
        a {
          color: #{$color-white};
        }
      }

      &__content {
        color: #{$color-white};
      }

      &__category {
        margin-bottom: 0.2rem;
      }

      &__meta {
        justify-content: center;
        margin-top: 1rem;

        p {
          padding: 3.2rem;
          font-weight: 200;
          letter-spacing: 0.1em;
        }
      }
    }

    &:hover {
      .card__thumb {
        img {
          transform: scale(1.3);
        }
      }
      .card__info__main {
        transform: translateY(-30px);
      }
    }
  }
}

//
// Card Menu
//
.card__menu {
  height: 360px;
  background-color: $color-main-red-5;

  a {
    display: block;
    height: 100%;
    color: $color-white;
    text-decoration: none;
  }

  .card {
    &__inner {
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    &__thumb {
      text-align: center;
      width: 285px;
      height: 285px;

      &:before {
        content: "";
        width: 285px;
        height: 285px;
        border-radius: 100%;
        background: linear-gradient(180deg, #A81D1D 26.67%, transparent 80%);
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        width: 85%;
        position: relative;
        z-index: 2;
        transition: all 0.4s;
      }
    }
  }

  &:hover {
    .card__thumb img {
      transform: scale(1.1);
    }
  }
}