//- 5-components/category

.category {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -12px;

  &:before {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background: linear-gradient(180deg, $color-gradient-category 0%, transparent 100%);
  }

  &:after {
    content: "";
    width: 68px;
    height: 1px;
    background-color: $color-white;
  }

  &__main {
    color: $color-white;
    font-size: $text-md;
    line-height: $text-md;
    margin-left: -34px;
    margin-right: 15px;
  }
}