//- 5-components/content

.content__section {
  margin-bottom: 8rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.content__intro {
  margin-bottom: 40px;

  p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    // < 340px
    @media (max-width: 340px) {
      font-size: 18px;
      line-height: 26px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.content__entry {
  h2 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;
    margin: 30px 0;
    // < 340px
    @media (max-width: 340px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    // < 340px
    @media (max-width: 340px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.content__empty {
  font-size: 16px;
  line-height: 22px;
  color: #{$color-black};
}