//- 5-components/content

.content__section {
  margin-bottom: 8rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.content__intro {
  margin-bottom: 2.5rem;

  p {
    font-size: $text-lg;
    line-height: $line-height-lg;
    margin-bottom: 2rem;
    // < 340px
    // @media (max-width: 340px) {
    //   font-size: 18px;
    //   line-height: 26px;
    // }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.content__entry {
  h2 {
    font-size: $text-xl;
    line-height: $line-height-xl;
    font-weight: 700;
    margin: 30px 0;
    color: $color-primary;
    // < 340px
    @media (max-width: 340px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
.content__empty {
  font-size: 16px;
  line-height: 22px;
  color: #{$color-black};
}