//- 5-components/cta

.cta {
  position: relative;

  &__main {
    align-items: center;
  }

  &__thumbnail {
    img {
      width: 100%;
    }
  }

  &--align--top {
    .cta__main {
      align-items: flex-start;
    }
  }

  &__content {
    &--right {
      text-align: right;
    }
  }

  &__title {
    margin: 0;
  }
  &__subtitle {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 400;
  }
  &__body {
    margin-top: 40px;

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__action {
    margin-top: 28px;
  }

  &--thumb-right {
    .cta__main {
      flex-direction: row-reverse;
    }
  }
}