//- 5-components/header

$header-height: 5rem;

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-white;

  &--fixed {
    .header__sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      animation: sticky-anim 0.4s ease-out forwards;
      animation-delay: 0.2s;
      transform: translateY(-8rem);
      background-color: #{$color-white};
      z-index: 999;
      box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);

      > div {
        flex: 1;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $header-height;
  }

  &__main {
    cursor: pointer;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid $color-white;

    h1 {
      margin: 0;
    }
    img {
      height: 3rem;
      // // < 480px
      // @media (max-width: 480px) {
      //   height: 42px;
      // }
      // // < 340px
      // @media (max-width: 340px) {
      //   height: 54px;
      // }
    }
  }

  &__nav {
    flex: 1;
    height: 100%;

    &__main {
      height: 100%;

      a {
        display: block;
        font-size: $text-md;
        font-weight: 500;
        padding: 0 .625rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.4s;
      }

      li {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: .75rem;
          height: .75rem;
          background-color: $color-white;
          border-radius: 6rem 0 0 0;
          z-index: 2;
          transition: all 0.4s;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          opacity: 0;
        }
      }

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
  
        > li {
          height: 100%;
          width: 16.666666%;

          &:not(:last-child) {
            border-right: 1px solid $color-white;
          }

          &:hover {
            > a {
              background-color: $color-main-red-3;
            }
            &::after {
              opacity: 1;
            }
            .header__nav__subs {
              opacity: 1;
              transform: translateY(0);
            }
          }
    
          > a {
            color: $color-white;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    &__subs {
      position: absolute;
      top: $header-height;
      left: 0;
      right: 0;
      background-color: $color-white;
      transition: all 0.4s;
      opacity: 0;
      transform: translateY(1rem);
      z-index: 4;

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          &:after {
            background-color: $color-primary;
            opacity: 1;
          }

          > a {
            height: 5rem;
            line-height: 5rem;
            border-bottom: 1px solid $color-primary;
            color: $color-primary;
          }
        }
      }
    }
  }

  &__mobile__trigger {
    margin-left: 1.2rem;
    border: none;
    outline: 0;
    padding: 0;
    background-color: transparent;
    font-size: 3.2rem;
    display: none;
    // < 768px
    @media (max-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    transition-delay: 0.2s;
    display: none;
    // < 768px
    @media (max-width: 768px) {
      display: block;
    }

    &[data-state="open"] {
      visibility: visible;
      opacity: 1;

      .header__mobile__inner {
        transform: translateX(0);
      }

      &[data-animated="start"] {
        transition: all 0.4s;
        transition-delay: 0s;

        .header__mobile__inner {
          transition: all 0.4s;
          transition-delay: 0.2s;
        }
      }
    }

    &[data-animated="start"] {
      visibility: visible;
      opacity: 1;

      .header__mobile__inner {
        transform: translateX(0);
      }
    }

    &__inner {
      width: 90%;
      height: 100%;
      max-width: 48rem;
      background-color: #{$color-white};
      margin-left: auto;
      padding: 2rem 2rem 3rem;
      display: flex;
      flex-direction: column;
      transform: translateX(110%);
      transition: all 0.3s;
    }

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__logo {
      img {
        height: 5rem;
      }
    }

    &__close {
      margin-left: auto;
      border: none;
      outline: 0;
      padding: 0;
      background-color: transparent;
      font-size: 3.2rem;
    }

    &__main {
      flex: 1;
      padding: 5rem 0 4rem;

      > ul {
        > li {
          > a {
            font-size: 2.4rem;
            font-weight: 700;

            &:hover {
              color: #{$color-primary};
            }

            &.active {
              color: #{$color-primary};
    
              &:after {
                background-color: #{$color-primary};
              }
            }
          }
        }
      }
    }

    &__bottom {
      margin-top: auto;
    }
  }
}

@keyframes sticky-anim {
  from {transform: translateY(-8rem);}
  to {transform: translateY(0);}
}