//- 5-components/profile

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  &__photo {
    width: 80%;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
      border-radius: 100%;
    }
    
    &:after {
      content: "";
      width: 102px;
      height: 102px;
      background: linear-gradient(180deg, $color-primary 0%, transparent 100%);
      position: absolute;
      top: 0;
      right: -50px;
      z-index: 1;
      border-radius: 100%;
    }
  }

  &__info {
    position: relative;
    padding-top: 32px;
    text-align: center;

    &:before {
      content: "";
      height: 32px;
      width: 1px;
      background-color: $color-white;
      position: absolute;
      top: 0;
      left: 50%;
    }

    &__top {
      border: 1px solid $color-white;
    }

    &__meta {
      height: 56px;
      padding: 0 15px;
      font-size: 18px;
      line-height: 56px;
      margin: 0;

      &:first-child {
        background-color: $color-main-red-5;
        border-bottom: 1px solid $color-white;
      }
    }

    &__main {
      margin-top: 30px;
      p {
        margin: 0;
      }
    }

    &__link {
      margin-top: 30px;
    }
  }
}