//-
//- Homepage
//-
extends ../../includes/layout_blank

block vars
  - var pageTitle     = 'Izn Boilerplate Documentation';
  - var pageName      = 'doc-header';
  - var bodyClass     = 'doc-header';

block main
  include ../../includes/pages/header/default
