//
// About
//
.p-about {
  position: relative;
  .main{
    &::after{
      content: '';
      position: absolute;
      width: 45%;
      height: 100%;
      background: url('../images/about--ornament.png') no-repeat;
      background-size: 100%;
      right: 0;
      top: 0;
    }
  }

  &__bottom { 
    // < 768px
    @media (max-width: 768px) {
      .grid {
        flex-direction: column;
  
        > div {
          width: 100%;
  
          &:first-child {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}