//
// Case study detail
//
.p-case-study-detail {
  position: relative;
  .sub--title_section{
    position: relative;
    color: #a81c1b;
    padding-bottom: 1rem;
    &::before{
        content: '';
        position: absolute;
        width: 25%;
        height: 1px;
        background: #a81c1b;
        bottom: -0.5rem;
        left: 0;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: -0.4rem;
      left: 20%;
      width: 0.75rem;
      height: 0.75rem;
      background-color: #a81c1b;
      border-radius: 100px 0 0 0;
      z-index: 2;
      transition: all 0.4s;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      } 
  }

  &__others {
    .grid {
      // < 768px
      @media (max-width: 768px) {
        justify-content: center;
      }
      // < 480px
      @media (max-width: 480px) {
        flex-direction: column;
        margin: 0;
      }

      > div {
        margin-bottom: 1.25rem;

        // < 768px
        @media (max-width: 768px) {
          width: 50%;
        }

        // < 480px
        @media (max-width: 480px) {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}


.tap-of-research {
  ul {
    padding: 0;
    margin: 0 0 2.5rem 0;
    li {
      display: inline-block;
      margin-right: 0.4375rem;
      margin-bottom: 2.3rem;
      a {
        text-decoration: none;
        padding: 0.625rem;
        border: 1px solid #a81c1b;
        transition: all 0.5s ease-in-out;
        color: #a81c1b;
        &:hover{
          background: #a81c1b;
          color: #fff;
        }
      }
    }
  }
}

.list-study {
  ul {
    li{
      line-height: 1.375rem;
      margin-bottom: 0.625rem;  
    }
  }
}