//
// Contact
//
.p-contact {
  position: relative;

  // Ornament
  &__ornament {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
    img {
      width: 20vw;
    }
  }

  &__main {
    position: relative;
    z-index: 2;
  }

  #contact-map {
    height: 25rem;
  }

  // Info
  &__info {
    &__inner {
      background-color: $color-main-red-4;
    }

    &__action {
      margin-top: 2rem;
    }
  }

  // Office
  &__office {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2.625rem;

    h3 {
      margin-top: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:first-child {
          align-items: flex-start;

          svg {
            padding-top: .375rem;
          }
        }

        svg {
          width: 1.5rem;
          margin-right: .75rem;
        }
        span {
          font-size: $text-md;
          line-height: $line-height-md;
        }
      }
    }
  }
}