//-
//- Contact
//-

.contact {
  background: linear-gradient(180deg, #FFFFFF -11.21%, #96D9FF 100%);
  .section_contact {
    &-top {
      text-align: center;
      padding-top: 9.375rem;
      padding-bottom: 3.125rem;
      position: relative;
      z-index: 5;
      p {
        width: 65%;
        margin: 0 auto;
      }
      &::after {
        content: '';
        position: absolute;
        background: url('../images/parenting-cloud_right.svg') no-repeat;
        width: 241px;
        height: 91px;
        background-size: cover;
        right: 10%;
        top: 45%;
        @media (max-width: 768px) {
          top: 100px;
          width: 120px;
          height: 45px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        background: url('../images/parenting-cloud_left.svg') no-repeat;
        width: 167px;
        height: 63px;
        background-size: cover;
        left: 5%;
        top: 85%;
        z-index: -1;
        @media (max-width: 768px) {
          top: 100px;
          width: 120px;
          height: 45px;
        }
      }
    }
    &-content {
      display: flex;
      width: 90%;
      margin: 0 auto;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      padding-bottom: 3.125rem;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
  &-wrapper_input {
    background: #eff9fe;
    border-radius: 20px;
    padding: 15px;
    color: #333333;
    border: 1px solid #eff9fe;
    display: flex;
    align-items: center;
    justify-content: center;
    &.textarea-field {
      align-items: flex-start;
    }
    input {
      color: #333333;
      font-family: 'Gotham Rounded';
      font-size: .875rem;
      font-weight: 300;
      padding-left: .625rem;
      padding-top: 3px;
      &::placeholder {
        color: #169DCE;
        opacity: 0.5;
      }
    }
    textarea {
      color: #333333;
      font-family: 'Gotham Rounded';
      font-size: .875rem;
      font-weight: 300;
      padding-left: .625rem;
      padding-top: 3px;
      min-height: 80px;
      &::placeholder {
        color: #169DCE;
        opacity: 0.5;
      }
    }
    i {
      display: inline-block;
      &.person-icon {
        width: 20px;
        height: 20px;
        background: url('../images/contact-icons_person.svg');
        background-size: cover;
      }
      &.email-icon {
        width: 20px;
        height: 20px;
        background: url('../images/contact-icons_email.svg');
        background-size: cover;
      }
      &.phone-icon {
        width: 20px;
        height: 20px;
        background: url('../images/contact-icons_phone.svg');
        background-size: cover;
      }
      &.subject-icon {
        width: 20px;
        height: 20px;
        background: url('../images/contact-icons_subject.svg');
        background-size: cover;
      }
    }
  }
  &-wrapper_submit {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    font-family: 'Gotham Rounded';
    color: #23678D;
    font-size: .875rem;
  }
  &-form {
    width: 100%;
  }
  &-grid-2 {
      display: grid;
      position: relative;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 1.875rem;
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
  }
  &-grid-1 {
    display: grid;
    position: relative;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1.875rem;
  }
  &-decoration {
    margin-right: 3.125rem;
  }
}