//-
//- Home
//-

.home {
  &--section {
    &_top {
      background: linear-gradient(180deg, #FFFFFF -11.21%, #96D9FF 100%);
      height: 100vh;
      position: relative;
      .general-ornament {
        position: absolute;
        bottom: 0;
        width: 100%; 
        @media (max-width: 768px) {
          img {
            width: 100%;
          }
        }
      }
      &-text {
        display: flex;
        align-items: flex-start;
        position: relative;
        height: 80%;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        h2 {
          color: #8AC825;
          font-size: 3.75rem;
          font-family: 'Sriracha', cursive;
          text-shadow: 4px 0px 0px rgba(255, 255, 255, 1);
          margin-bottom: 1.25rem;
          font {
            color: #23678D;
          }
          //mobile view
          @media (max-width: 768px) {
            font-size: 38px;
            line-height: 48px;
          }
        }
      }
      &-images {
        width: 100%;
        position: absolute;
        top: 25%;
        right: 0;
        z-index: 10;
        @media (max-width: 768px) {
          top: auto;
          bottom: 20%;
        }
        &-duck {
          position: absolute;
          right: 45%;
          top: 15.625rem;
          z-index: 11;
          animation-name: floatDeep;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          @media (max-width: 768px) {
            img {
              width: 80px;
            }
          }
        }
        &-product {
          position: absolute;
          right: 0%;
          @media (max-width: 768px) {
            width: 100%;
          }
          .inside_left {
            position: absolute;
            right: 0;
            top: -40px;
            animation-name: floatDeep;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            // mobile view
            @media (max-width: 768px) {
              img {
                width: 100%;
              }
            }
          }
          .inside_right {
            animation-name: float;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            // mobile view
            @media (max-width: 768px) {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    /*product*/
    &_product {
      background: linear-gradient(180deg, #E7F584 0%, #C2CF63 100%);
      padding-top: 5%;
      position: relative;
      padding-bottom: 5%;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 21.375rem;
        background: url('../images/home-ornament_bottom.png');
        bottom: 0;
      }
      &-desc {
        position: relative;
        width: 100%;
        height: 100vh;
        &-text {
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      &-center {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: relative;
        img {
          z-index: 10;
          position: relative;
        }
      }
      &-box {
        font-family: 'Gotham Rounded';
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0;
        &.left {
          position: absolute;
          left: 0;
          text-align: left;
          vertical-align: middle;
          &.top {
            background: url('../images/home-bublle-orange.png') no-repeat;
            width: 21.375rem;
            height: 8.875rem;
            top: 9.375rem;
            left: 9.75rem;
            padding: 50px 40px 50px 50px;
            
          }
          &.center {
            background: url('../images/home-bublle-white_orange.png') no-repeat;
            width: 24.8125rem;
            height: 8.1875rem;
            color: #EA9F1B;
            top: 320px;
            left: 80px;
            padding: 50px;
          }
          &.bottom {
            background: url('../images/home-bublle-white_small.png') no-repeat;
            width: 13.75rem;
            height: 5.6875rem;
            color: #204860;
            padding: 40px 30px 40px 40px;
            top: 470px;
            left: 270px;
            z-index: 10;
          }
        }
        &.right {
          position: absolute;
          right: 0;
          text-align: left;
          vertical-align: middle;
          &.top {
            background: url('../images/home-bublle-white_blue.png') no-repeat;
            top: -20px;
            right: 230px;
            width: 29.1875rem;
            height: 13rem;
            color: #23678D;
            text-align: left;
            padding-top: 3.625rem;
            padding-bottom: 1.875rem;
            padding-left: 3.75rem;
            padding-right: 5rem;
          }
          &.center {
            background: url('../images/home-bublle-blue.png') no-repeat;
            top: 196px;
            right: 150px;
            width: 21.4375rem;
            height: 9.3125rem;
            color: #fff;
            padding: 50px;
          }
          &.bottom {
            background: url('../images/home-bublle-white-small_blue.png') no-repeat;
            top: 355px;
            right: 100px;
            width: 25.0625rem;
            height: 9.375rem;
            color: #169DCE;
            padding: 50px;
          }
        }
      }
    }
    &_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.875rem;
      &.flat {
        display: block; 
      }
    }
    &_promotions {
      background: linear-gradient(180deg, #FFFFFF -11.21%, #96D9FF 100%);
    }
    &_news {
      .home--section_title {
        width: 100%;
      }
      .main-title {
        color: #23678D;
      }
      &-wrapper {
        padding: 0 1.25rem;
        width: 100%!important;
      }
      &-slider_content {
        width: 80%;
      }
      .outer-wrapper {
        margin-left: 7%;
        overflow: hidden;
        margin-top: 1.875rem;
      }
      .slick-list {
        overflow: unset;
      }
      .slick-slide {
        height: auto;
      }
      .slick-clone {
        opacity: 0;
      }

      .slick-dots {
        margin-top: 3.125rem;
        li {
          list-style: none;
          display: inline-block;
          padding: 0 .3125rem;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background: url('../images/hover-vector.svg') no-repeat;
            z-index: 1;
            left: 0;
            top: -6px;
            transform: scale(0);
            transition: all 0.5s ease;
          }
          &.slick-active {
            &::after {
              transform: scale(1);
              transition: all 0.5s ease;
            }
          }
          button {
            width: 16px;
            height: 16px;
            background: #fff;
            border-radius: 50%;
            border: none;
            text-indent: -9999px;
            cursor: pointer;
            position: relative;
          }
        }
      }
     
      &-content {
        background: linear-gradient(180deg, #BEE4F7 0%, #3382A8 100%);
        box-shadow: 5px 13px 17px -6px rgba(35, 103, 141, 0.2);
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 2rem;
        overflow: hidden;
        .content-images {
          width: 35%;
        }
        .content-desc {
          width: 65%;
          font-family: 'Gotham Rounded';
          h2 {
            color: #fff;
            font-family: 'Gotham Rounded';
            font-size: 3.75rem;
            margin: 1.875rem 0 0 0;
          }
          p {
            font-size: 18px;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
    &_articles {
      .main-title {
        color: #169DCE;  
      } 
      &-block {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.leaf {
  width: 40px;
  height: 140px;
  background-image: url('../images/home-ornament/daun.png');
}

.leaf.leaf-height {
  width: 288px;
  height: 308px;
  background-image: url('../images/home-ornament/daun_bac.png');
}

.leaf.leaf-medium {
  width: 70px;
  height: 240px;
  background-image: url('../images/home-ornament/daun_medium.png');
}




@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floatDeep {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-50px);
	}
	100% {
		transform: translatey(0px);
	}
}