
//-
//- Header
//-
.header {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 0px #FFFFFF;
  backdrop-filter: blur(20px);
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 40;
  width: 100%;
  &--wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #1c75bc;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  nav {
    width: 80%;
    @media (max-width: 768px) {
      display: flex;
      align-items: flex-end;
      justify-content: end;
    }
    ul {
      text-align: right;
      @media (max-width: 768px) {
        padding-left: 0;
      }
      li {
        display: inline-block;
        padding: 0 20%;
        padding: 0 5%;
        &.active, &:hover {
          a {
            color: rgba(28, 117, 188, 1);
            font-weight: 700;
            @media (max-width: 768px) {
              color: #EDB61A;
            }
          }
        }
        a {
          display: block;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          color: #2C4355;
          text-decoration: none;
          letter-spacing: -0.02em;
          font-weight: 700;
          transition: all .2s ease-in-out;
          @media (max-width: 768px) {
            overflow: hidden;
            height: 0;
            color: #fff;
          }
        }
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
}

//-
//- banner section
//-
.banner--section {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  @media (max-width: 768px) {
    display: none;
  }
  img {
    width: 100%;
    object-fit: cover;
    @media (max-width: 1024px) {
      height: 100%;
    }
  }
  &.mobile-section {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}

.title--section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  @media (max-width: 768px) {
    height: 82vh;
  }
  &::before {
    content: '';
    background: url('../images/top-ellipse_right.png') no-repeat;
    position: absolute;
    width: 711px;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  }
  h2 {
    font-size: 94px;
    line-height: 108px;
    margin-bottom: 0;
    position: relative;
    z-index: 20;
    @media (max-width: 768px) {
      font-size: 68px;
      line-height: 90px;
    }
    @media (max-width: 700px) {
      font-size: 38px;
      line-height: 40px;
    }
  }
  h3 {
    font-weight: 400;
    font-size: 26px;
    margin-top: 10px;
    position: relative;
    z-index: 20;
  }
}

//-
//-Why section
//-
.why-section {
  background: #fff;
  width: 100%;
  min-height: 200px;
  z-index: 10;
  position: relative;
  margin-bottom: -20px;
  padding-bottom: 80px;
  &_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &-images {
      width: 25%;
      position: relative;
      padding-bottom: 50px;
      margin-top: -50px;
      @media (max-width: 768px) {
        width: 100%;
      }
      &::before {
        content: '';
        position: absolute;
        width: 196px;
        height: 196px;
        left: -10%;
        bottom: 15%;
        border-radius: 50%;
        z-index: 2;
        background: linear-gradient(217.72deg, #F7BD16 -68.56%, rgba(247, 189, 22, 0) 83.63%);
      }
      &::after {
        content: '';
        position: absolute;
        width: 260px;
        height: 262px;
        right: 0px;
        bottom: 5%;
        background: rgba(55, 55, 55, 0.6);
        filter: blur(40px);
        border-radius: 0px 60px;
      }
      img {
        width: 100%;
        border-radius: 0px 60px;
        position: relative;
        z-index: 1;

      }
    }
    &-content {
      width: 75%;
      padding-left: 80px;
      @media (max-width: 768px) {
        width: 100%;
        padding-left: 0;
      }
      h3 {
        color: #1C75BC;
        font-size: 48px;
        letter-spacing: -2%;
        line-height: 54px;
        margin-bottom: 0;
        margin-top: 0;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #181818;
        width: 80%;
      }
    }
  }
  &_bottom {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    .product-advantages {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;
      text-align: center;
      flex-wrap: wrap;
      &_box {
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        @media (max-width: 768px) {
          width: 100%;
        }
        margin: 30px 0;
        &-number {
          width: 20%;
          font-size: 72px;
          color: #EDB61A;
          font-weight: 700;
          @media (max-width: 1180px) {
            font-size: 62px;
          }
          @media (max-width: 768px) {
            font-size: 62px;
          }
        }
        &-content {
          width: 80%;
          padding-left: 20px;
          &.p-30{
            padding-left: 35px;
          }
          h4 {
            margin: 5px 0 0 0;
            font-size: 22px;
            font-weight: 700;
          }
          p {
            margin: 0;
            font-size: 18px;
            color: #727272;
          }
        }
        &.w-40{
          width: 40%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        &.w-20{
          width: 20%;
        }
        &.w-50{
          width: 50%;
        }
        &.m-30 {
          margin-right: 30px;
        }
      }
    }
  }
}//-
//-showcase
//-
.section--showcase {
  background: url('../images/gesit.png') no-repeat left top #221B1B;
  background-size: 60%;
  min-height: 690px;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  @media (max-width: 768px) {
    background: url('../images/gesit.png') no-repeat left bottom #221B1B;
  }
  .hotspot-show {
    position: relative;
  }
  &_block {
    &.gallery-show {
      height: 100%;
      @media (max-width: 768px) {
        height: auto;
      }
    }
  }
  &_wrapper{
    overflow: hidden;
    .tab-control_wrap {
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 10;
      top: 50px;
      @media (max-width: 768px) {
        position: relative;
        top: 0;
      }
    }
    .control-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      h3 {
        color: #FFFFFF;
        font-weight: 700; 
        font-size: 48px;
        @media (max-width: 768px) {
          font-size: 38px;
          margin: 30px 0;
        }
      }
      .tab-control {
        button {
          background: none;
          outline: none;
          border: none;
          cursor: pointer;
          padding: 16px 21px;
          font-size: 20px;
          font-weight: 400;
          transition: all .5s ease-in-out;
          border-radius: 20px;
          color: #fff;
          margin-left: 50px;
          @media (max-width: 768px) {
            margin-left: 0;
            padding: 10px 20px;
            border-radius: 10px;
          }
          &:hover, &.active {
            background: #ED1B41;
          }
        }
      }
    }
    .images-product {
      img {
        width: 100%;
      }
    }
    .rotate--wrapper {
      width: 75%;
      @media (max-width: 768px) {
        width: 100%;
        #rotate {
          width: 100%!important;
          height: auto!important;
          canvas {
            width: 100%!important;
          }
        }
      }
      .autorotate {
       background: #F5F4F4;
       border-radius: 20px;
       padding: 16px 23px!important;
       font-size: 20px;
       display: block;
       font-weight: 700;
       color: #ED1B41; 
       right: -20%!important;
       bottom: 40%!important;
       @media (max-width: 768px) {
         width: 100%;
         right: 0!important;
         text-align: center;
         position: relative!important;
       }
      }
    }
    .tabs {
      padding-top: 50px;
      -webkit-transition: all .9s ease-in-out; 
      -moz-transition: all .9s ease-in-out; 
      -ms-transition: all .9s ease-in-out; 
      -o-transition: all .9s ease-in-out; 
      transition: all .9s ease-in-out;
      @media (max-width: 768px) {
        padding-top: 0;
      }
    }
    .wrapper-inside {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        padding: 0 5%;
        height: auto;
      }
    }
    .desc-product {
      width: 30%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      @media (max-width: 768px) {
        width: 100%;
      }
      &.view {
        width: 25%;
        @media (max-width: 768px) {
          width: 100%;
        }
        p {
          font-size: 18px;
        }
        span {
          display: block;
        }
      }
    }
    .images-product {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      @media (max-width: 768px) {
        position: relative;
        bottom: -50px;
        width: 100%;
      }
      @media (max-width: 700px) {
        bottom: 0px;
      }
    }
    .active {
      color:blue;
    }
    .tabs> * {
        width: 100%;
        @media (max-width: 768px) {
          width: 99%;
        }
    }
    .tabs[data-tab='1'] {
        transform: translateX(-100%);
    }
    
    .tabs[data-tab='2'] {
        transform: translateX(-200%);
    }
    .tabs[data-tab='3'] {
        transform: translateX(-300%);
    }
    .tabs[data-tab='4'] {
        transform: translateX(-400%);
    }
    
    .inliner {
    
        white-space: nowrap;
    }
    .inliner > * {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-size: 1rem;
        letter-spacing: normal;
        vertical-align: top;
        word-spacing: normal;
        white-space: normal;
    }
  }

  .gallery-wrapper {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    @media (max-width: 768px) {
      height: auto;
      top: 40px;
    }
    .bg-slide {
      img {
        width: 100%;
      }
    }
  }
  .control-gallery {
    position: absolute;
    bottom: 100px;
    z-index: 10;
    width: 100%;
    @media (max-width: 768px) {
      position: relative;
      bottom: 0;
    }
    &_wrapper {
      width: 400px;
      margin: 0 auto;
      @media (max-width: 768px) {
        width: 100%;
        margin: 50px auto 0 auto;
      }
      .box-nav {
        padding: 0 10px;
        cursor: pointer;
        &_image {
          object-fit: cover;
          width: 100%;
          height: 64px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .slick-prev.slick-arrow {
      position: absolute;
      top: 0px;
      left: -90px;
      text-indent: -9999px;
      background: url('../images/arrow_right.svg');
      border: none;
      outline: none;
      cursor: pointer;
      width: 64px;
      height: 64px;
      @media (max-width: 768px) {
        position: absolute;
        left: 0;
        top: 70px;
      }
    }
    .slick-next.slick-arrow {
      position: absolute;
      top: 0px;
      right: -90px;
      text-indent: -9999px;
      background: url('../images/arrow_left.svg');
      width: 64px;
      height: 64px;
      border: none;
      outline: none;
      cursor: pointer;
      @media (max-width: 768px) {
        position: absolute;
        right: 0;
        top: 70px;
      }
    }
  }
}

//-
//-location
//-
.section--location {
  background: #FFFFFF;
  width: 100%;
  min-height: 200px;
  z-index: 10;
  position: relative;
  margin-bottom: -20px;
  padding-bottom: 100px;
  &_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 10%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &_left {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &_right {
    width: 50%;
    padding-left: 80px;
    @media (max-width: 768px) {
      width: 100%;
      padding-left: 0;
    }
    #contact-map {
      width: 100%;
      height: 500px;
    }
  }
  &_title {
    h2{
      font-size: 48px;
      color: #EDB61A;
      margin-bottom: 0;
    }
    p{
      font-size: 18px;
      line-height: 32px;
    }
  }
  &_point {
    height: 280px;
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: #EDB61A!important;
      width: 10px;
      &:hover{
        background-color: #EDB61A;
      }
    }
    .mCSB_scrollTools .mCSB_draggerRail {
      background-color: #F2F2F2;
      width: 8px;
    }
    .mCSB_scrollTools {
      background-color: #F2F2F2;
      width: 10px;
      border-radius: 10px;
    }
    a {
      display: block;
      text-decoration: none!important;
      &.active, &:hover {
        background: linear-gradient(90deg, rgba(28, 117, 188, 0.05) 0%, rgba(28, 117, 188, 0) 100%);
        border-radius: 10px;
      }
    }
    &-block {
      padding: 5px 20px;
      h3 {
        color: #1C75BC!important;
        font-size: 18px;
        text-decoration: none!important;
      }
      p{
        font-size: 18px;
        line-height: 32px;
        color: #181818!important;
        text-decoration: none!important;
      }
    }
  }
}

.section--contact {
  background: url('../images/contact-bg.png') no-repeat left center #EDB61A;
  background-size: 450px;
  height: 150px;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;
  width: 100%;
  flex-wrap: nowrap;
  .wrapper-contact {
    width: 100%;
    text-align: center;
    h4 {
      display: inline-block;
      font-weight: 700;
      font-size: 40px;
      line-height: 112.52%;
      color: #fff;
      @media (max-width: 1024px) {
        font-size: 32px;
      }
      @media (max-width: 768px) {
        font-size: 22px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    a {
      display: inline-block;
      background: #F5F4F4;
      border-radius: 20px;
      padding: 20px 17px;
      color: #1C75BC;
      font-size: 20px;
      text-decoration: none;
      font-weight: 700;
      vertical-align: middle;
      position: relative;
      margin-left: 20px;
      @media (max-width: 768px) {
        margin-left: 0;
        font-size: 16px;
        padding: 10px 17px;
      }
      i.whatsap-icon {
        background: url('../images/whatsapp.svg') no-repeat;
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }
    }
  }
}
footer {
  background: #1C75BC;
  position: relative;
  z-index: 10;
  .footer--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      .footer-logo {
        margin-top: 20px;
      }
    }
    .copyright {
      color: #fff;
      font-size: 18px;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .social-media {
      ul {
        li{
          display: inline-block;
          margin: 0 10px;
        }
      }
    }
  }
}



//-
//- footer
//-
@media (max-width: 768px) {
  .header {

    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 90px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid rgba(255, 255, 255, 0.3);
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      a {
        height: auto;
      }
    }
    
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #1C75BC;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
}

