//
// Market Quiz
//
.p-market-quiz {
  position: relative;
  .no--padding-bottom{
    padding-bottom: 0;
  }
  &::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: url('../images/market--ornament.png') no-repeat top;
    background-size: 100%;
    right: 0;
    top: 0;
  }

  &__main {
    // < 768px
    @media (max-width: 768px) {
      padding-bottom: 4rem!important;
    }
    .cta__header {
      // < 768px
      @media (max-width: 768px) {
        max-width: 22.5rem;
        margin: 0 auto;
      }
    }
  }
}