//
// Our pillars
//
.p-our-pillars {
  position: relative;

  .container{
    position: relative;
    z-index: 1;
  }
  .section{
    &.top{
      position: relative;
      // < 768px
      @media (max-width: 768px) {
        padding-top: 12rem;
      } 
      &::after{
        content: '';
        position: absolute;
        width: 34%;
        height: 100%;
        background: url('../images/about--our-pilar--ornament.png') no-repeat;
        background-size: 100%;
        left: 0;
        top: 0;
      }

      .grid {
        // < 480px
        @media (max-width: 480px) {
          flex-direction: column;
          margin: 0;
        } 
        > div {
          // < 768px
          @media (max-width: 768px) {
            width: 50%;
            margin-bottom: 3rem;
          } 
          // < 480px
          @media (max-width: 480px) {
            width: 100%;
            padding: 0;
          } 
        }
      }
    }

    &.main--pilar {
      position: relative;
      overflow: hidden;
    
      &::after{
        content: '';
        position: absolute;
        width: 25%;
        height: 100%;
        background: url('../images/our--pilar--ornament.png') no-repeat bottom;
        background-size: 100%;
        right: 0;
        bottom: 0; 
      }

      .column--thumb {
        width: 15.625rem;
        // < 480px
        @media (max-width: 480px) {
          margin-bottom: 1rem;
        }
      }

      .column--85 {
        // < 768px
        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .grid {
        // < 768px
        @media (max-width: 768px) {
          padding: 1.5rem 1rem!important;
        }
        // < 480px
        @media (max-width: 480px) {
          flex-direction: column;
        }
      }
    }
  }
}