//
// Our people
//
.p-our-people {
  position: relative;
  .main{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 60%;
      height: 100%;
      background: url('../images/our--people-ornament.png') no-repeat;
      background-size: 100%;
      right: 0;
      top: 10%;
    }
  }
  .banner{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 24.375rem;
      height: 24.375rem;
      background: linear-gradient(180deg, #A81D1D 0%, rgba(168, 29, 29, 0) 100%);
      right: -35%;
      top: 15%; 
      border-radius: 50%;
    }
  }
  .cta__content{
    position: relative;
    z-index: 1;
  }
}