//
// Our people
//
.p-our-people {
  position: relative;
  .main{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 60%;
      background: url('../images/our--people-ornament.png') no-repeat;
      background-size: 100%;
      right: 0;
      top: 10%;
      bottom: 0;
      // < 768px
      @media (max-width: 768px) {
        width: 70%;
        top: 12%;
        opacity: 0.7;
      }
      // < 480px
      @media (max-width: 480px) {
        width: 80%;
        top: 180vw;
      }
    }
  }
  .banner{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 24.375rem;
      height: 24.375rem;
      background: linear-gradient(180deg, #A81D1D 0%, rgba(168, 29, 29, 0) 100%);
      right: -35%;
      top: 15%; 
      border-radius: 50%;
    }
  }
  .cta__content{
    position: relative;
    z-index: 1;
  }

  &__top {
    overflow: hidden;
  }

  &__list {
    .grid {
      // < 768px
      @media (max-width: 768px) {
        justify-content: center;
      }
      // < 480px
      @media (max-width: 480px) {
        flex-direction: column;
        margin: 0;
      }

      > div {
        margin-bottom: 1.25rem;

        // < 768px
        @media (max-width: 768px) {
          width: 50%;
        }

        // < 480px
        @media (max-width: 480px) {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}