//-
//- parenting
//-

.section_parenting-tips {
  background: linear-gradient(180deg, #FFFFFF -11.21%, #96D9FF 100%);
  &-top {
    text-align: center;
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
    position: relative;
    z-index: 5;
    &::after {
      content: '';
      position: absolute;
      background: url('../images/parenting-cloud_right.svg') no-repeat;
      width: 241px;
      height: 91px;
      background-size: cover;
      right: 10%;
      top: 35%;
      -webkit-animation: animateCloudRight 20s linear infinite;
	    -moz-animation: animateCloudRight 20s linear infinite;
	    animation: animateCloudRight 20s linear infinite;
      z-index: -1;
    }
    &::before {
      content: '';
      position: absolute;
      background: url('../images/parenting-cloud_left.svg') no-repeat;
      width: 167px;
      height: 63px;
      background-size: cover;
      left: 10%;
      top: 65%;
      -webkit-animation: animateCloud 10s linear infinite;
	    -moz-animation: animateCloud 10s linear infinite;
	    animation: animateCloud 10s linear infinite;
      z-index: -1;
    }
    p {
      width: 65%;
      margin: 0 auto;
    }
    ul {
      margin-top: 3.75rem;
      @media (max-width: 768px) {
        padding-left: 0;
        text-align: left;
      }
      li {
        display: inline-block;
        margin: 0 .3125rem;
        @media (max-width: 768px) {
          text-align: center;
          margin-bottom: 10px;
          margin-left: 3px;
        }
        a {
          position: relative;
          transition: all 0.5s ease;
          svg {
            path {
              transition: all 0.5s ease;
            }
          }
          span {
            position: absolute;
            padding-top: .75rem;
            width: 100%;
            font-family: 'Gaegu', cursive;
            font-size: 1.375rem;
            letter-spacing: -0.0625rem;
            transition: all 0.5s ease;
            color: #23678D;
            &.orange {
              color: #EA9F1B;
            }
            &.green {
              color: #68BB45;
            }
          }
          &:hover, &.active {
            svg {
              path {
                fill: #00A7E0;
              }
            }
            span {
              color: #fff!important;
            }
          }
          &.active {
            cursor:auto;
          }
        }
      }
    }
  }
  &-content {
    position: relative;
    padding-bottom: 80px;
    &-wrapper {
      display: grid;
      position: relative;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      z-index: 10;
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &::after {
      content: '';
      position: absolute;
      background: url('../images/parenting-cloud_right.svg') no-repeat;
      width: 241px;
      height: 91px;
      background-size: cover;
      right: 10%;
      top: 35%;
      -webkit-animation: animateCloudRight 20s linear infinite;
	    -moz-animation: animateCloudRight 20s linear infinite;
	    animation: animateCloudRight 20s linear infinite;
    }
    &::before {
      content: '';
      position: absolute;
      background: url('../images/parenting-cloud_left-center.svg') no-repeat;
      width: 167px;
      height: 63px;
      background-size: cover;
      left: 10%;
      top: 65%;
      -webkit-animation: animateCloud 10s linear infinite;
	    -moz-animation: animateCloud 10s linear infinite;
	    animation: animateCloud 10s linear infinite;
    }
  }
  &-ornament {
    height: 18.75rem;
    &_field-left {
      position: absolute;
      left: 0;
      bottom: 0; 
    }
    &_field-right {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &_gunung-left {
      position: absolute;
      left: 0;
      bottom: 3%; 
    }
    &_gunung-right {
      position: absolute;
      right: 0;
      bottom: 4%;
    }
    &_daun-left {
      position: absolute;
      left: 20%;
      bottom:0;
      &.happy {
        left: 40%;
      } 
    }
    &_daun-right {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &_daun-center {
      position: absolute;
      left: 30%;
      bottom: 3%;
      &.happy {
        left: auto;
        right: 30%;
      }
    }
    &_bebek {
      position: absolute;
      right: 10%;
      bottom: 3%;
      &.happy {
        left: 10%;
        right: auto;
        bottom: 0;
      }
    }
  }
  //-
  //- parenting detail
  //-
  &_detail {
    width: 70%;
    margin: 0 auto;
    padding-top: 20%;
    @media (max-width: 768px) {
      width: 90%;
      padding-top: 40%;
    }
    &_banner {
      position: relative;
      border-radius: 30px;
      img {
        width: 100%;
        border-radius: 30px;
      }
    }
    &_tag {
      position: absolute;
      width: 100%;
      top: 1.25rem;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.green {
        .tag {
          span {
            color: #68BB45;
          }
        }
        svg {
          path.bg {
            fill : #68BB45;
          }
        }
      }
      &.blue {
        .tag {
          span {
            color: #00A7E0;
          }
        }
        svg {
          path.bg {
            fill : #00A7E0;
          }
        }
      }
      .tag {
        text-align: center;
        position: relative;
        span {
          top: .625rem;
          position: absolute;
          color: #EA9F1B;
          text-align: center;
          width: 100%;
          font-family: 'Gaegu', cursive;
          font-size: 1.375rem;
          letter-spacing: -0.0625rem;
        }
      }
    }
    &_content {
      font-family: 'Gotham Rounded';
      h2 {
        color: #23678D;
        font-size: 2.625rem;
        font-family: 'Gotham Rounded';
        line-height: 3.625rem;
        font-weight: 400;
        @media (max-width: 768px) {
          font-size: 32px;
          line-height: 40px;
          font-weight: 700;
        }
      }
      .excerpt {
        color: #204860;
        font-size: 1.375rem;
        margin-top: 1.25rem;
        margin-bottom: 2.5rem;
        display: block;
        p {
          font-size: 1.25rem;
          line-height: 32px;
        }
      }
      .content {
        padding-bottom:  20px;
        h3 {
          font-size: 1.25rem;
          color: #169DCE;
        } 
        p {
          color: #333333;
          font-size: .875rem;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
    &_social {
      ul {
        padding-left: 0;
        li {
          list-style: none;
          display: inline-block;
          width: 64px;
          height: 64px;
          text-align: center;
          padding-top: 15px;
          margin: 0 10px 0 0px;
          a {
            display: block;
            text-indent: -624.9375rem;
          }
          &.fb {
            background: url('../images/footer_fb-background.svg') no-repeat;
            background-size: cover;
            a {
              width: 30px;
              height: 30px;
              cursor: pointer;
              background: url('../images/fb-icon.svg') no-repeat;
              background-size: cover;
              margin: 0 auto;
            }
          }
          &.ig {
            background: url('../images/footer_ig-background.svg') no-repeat;
            background-size: cover;
            a {
              width: 30px;
              height: 30px;
              cursor: pointer;
              background: url('../images/ig-icon.svg') no-repeat;
              background-size: cover;
              margin: 0 auto;
            }
          }
        }
      }
    }
    &_related {
      margin-top: 5rem;
      h2 {
        color: #169DCE;
        font-family: 'Gaegu', cursive;
        font-size: 4rem;
        letter-spacing: -0.125rem;
        margin-bottom: 1.875rem;
      }
      &-wrapper {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 768px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
