//
// Quiz
//
.p-quiz {
  &__main {  
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    // < 992px
    @media (max-width: 992px) {
      padding-bottom: 12rem;
    }
  }

  &__deco {
    position: absolute;
    bottom: 0;
    left: .75rem;
    z-index: 1;
    // < 992px
    @media (max-width: 992px) {
      left: -7rem;
    }

    img {
      display: block;
    }
  }
}