//
// Service
//
.p-service {
  position: relative;
  .main{
    &::after{
      content: '';
      position: absolute;
      width: 55%;
      height: 100%;
      background: url('../images/what-we-do--ornament.png') no-repeat top;
      background-size: 100%;
      right: 0;
      top: 0;
    }
  }
  &__studies {
    .section__body .grid {
      // < 768px
      @media (max-width: 768px) {
        flex-direction: column;

        > div {
          width: 100%;
          max-width: 32.5rem;
          margin: 0 auto;
        }
      }
    }
  }
  .our--tools{
    padding-bottom: 0;
    // < 768px
    @media (max-width: 768px) {
      padding-bottom: 4rem;
    }
    &::after{
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      background: url('../images/our-tools-bottom--ornament.png') no-repeat bottom;
      background-size: 100%;
      left: 0;
      top: 0;
    }
    .cta__thumbnail{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 24.375rem;
        height: 24.375rem;
        background: linear-gradient(180deg, #A81D1D 0%, rgba(168, 29, 29, 0) 100%);
        right: 30%;
        top: 20%; 
        border-radius: 50%;
      }
    }
  }
}