//-
//- Product
//-

.container {
  width: 100%;
  max-width: 100%;
}

.wheretobuy {
  &--section {
    background: linear-gradient(180deg, #FFFFFF -11.21%, #96D9FF 100%);
    padding-bottom: 100px;
    &_top {
      text-align: center;
      padding-top: 9.375rem;
      padding-bottom: 3.125rem;
      position: relative;
      z-index: 5;
      p {
        width: 65%;
        margin: 0 auto;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      &::before {
        content: '';
        position: absolute;
        background: url('../images/parenting-cloud_right.svg') no-repeat;
        width: 267px;
        height: 100px;
        background-size: cover;
        left: 2%;
        top: 200px;
        @media (max-width: 768px) {
          top: 100px;
          width: 120px;
          height: 45px;
        }
      }
      &::after {
        content: '';
        position: absolute;
        background: url('../images/parenting-cloud_left.svg') no-repeat;
        width: 167px;
        height: 63px;
        background-size: cover;
        right: 20%;
        top: 30%;
        @media (max-width: 768px) {
          top: 100px;
          width: 120px;
          height: 45px;
          right: 5%;
        }
      }
    }
    &_store {
      margin-top: 80px;
      @media (max-width: 768px) {
        ul {
          padding-left: 0;
        }
      }
      li {
        display: inline-block;
        margin: 0 30px;
      }
      &-images {
        img {
          max-width: 240px;
        }
      }
      &-name {
        text-align: center;
        p {
          color: #23678D;
          font-size: 0.875rem;
          line-height: 1.3125rem;
          display: block;
          margin: 20px auto;
          text-align: center;
          width: 100%;
          font-family: 'Gotham Rounded';
        }
      }
      &-action {
        margin: 35px 0;
        a.main-button {
          color: #23678D;
          position: relative;
          text-decoration: none;
          padding: 15.5px 35px 15.5px 20px;
          &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 14px;
            background: url(../images/arrow-right-icon.svg) no-repeat;
            background-size: cover;
            top: 15px;
            right: 20px;
          }
        }
      }
    }
    /*===============*/
    /*==box-addres===*/
    /*===============*/
    &_box-addres {
      margin-top: 100px;
      &_title {
        border-radius: 20px 20px 0px 0px;
        background: linear-gradient(180deg, #1494D2 0%, #3382A8 100%);
        height: 92px;
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column;
          height: auto;
        }
        &-images {
          width: 17%;
          padding: 0 20px;
          @media (max-width: 768px) {
            width: 100%;
          }
          img {
            width: 160px;
            margin: 0 auto;
            position: relative;
            top: -23px;
          }
        }
        &-text {
          width: 64%;
          text-align: center;
          @media (max-width: 768px) {
            width: 90%;
            margin: 10px auto;
          }
          h3 {
            text-align: center;
            font-weight: 400;
            font-family: 'Gotham Rounded';
            font-size: 18px;
          }
        }
        &-action {
          width: 17%;
          padding: 0 20px;
          @media (max-width: 768px) {
            width: 100%;
            margin: 20px 0;
          }
          .main-button {
            border: none;
            position: relative;
            padding: 15.5px 32px 15.5px 9.5px;
            width: 100%;
            &::after {
              content: "";
              position: absolute;
              background: url('../images/location-icon.svg');
              width: 24px;
              height: 24px;
              right: 15px;
              top: 13px;
            }
          }
        }
      }
      &_content {
        height: 480px;
        display: flex;
        flex-direction: row;
        background: linear-gradient(180deg, #FFFFFF -11.21%, #D7F0FF 100%);
        border-radius: 0px 0px 20px 20px;
        font-family: 'Gotham Rounded';
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        @media (max-width: 768px) {
          flex-direction: column-reverse;
          height: auto;
        }
        &::after {
          content: '';
          position: absolute;
          height: 62px;
          width: 100%;
          bottom: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(220, 243, 255, 0) 0%, #DCF3FF 100%);
        }
        &-map {
          width: 40%;
          position: relative;
          @media (max-width: 768px) {
            width: 100%;
            height: 480px;
          }
          #contact-map {
            width: 100%;
            height: 100%;
            position: relative;
          }
        }
        &-detail {
          width: 60%;
          height: 480px;
          padding-top: 20px;
          padding-bottom: 30px;
          border-radius: 0px 0px 20px 20px;
          @media (max-width: 768px) {
            width: 100%;
            ul {
              padding-left: 0;
            }
          }
          .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background: #169DCE;
            width: 7px;
          }
          .box-address {
            display: flex;
            border-bottom: 1px solid #B1D0DD;
            padding-bottom: 30px;
            margin-bottom: 30px;
            &-number {
              width: 5%;
              &-value {
                border-radius: 50%;
                background-color: #FFFFFF;
                box-shadow: 1px 4px 14px 0px  rgba(35, 103, 141, 0.2);
                color: #169DCE;
                padding: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                span{
                  overflow: visible;
                  height: 0;
                  margin-top: -1em;
                  font-family: 'Gotham Rounded';
                  font-size: 14px;
                }
                &::after {
                  content: '';
                  display: block;
                  height: 0;
                  width: 100%;
                  padding-bottom: 100%;
                }
              }
            }
            &-detail {
              width: 95%;
              padding-left: 20px;
              padding-right: 20px;
              &-title {
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                h3 {
                  color: #23678D;
                  margin-top: 5px;
                  font-weight: 400;
                  font-size: 14px;
                }
                h4 {
                  color: #169DCE;
                  font-size: 14px;
                  font-weight: 400;
                  margin-top: 5px;
                }
              }
              &_content {
                text-align: left;
                p {
                  color: #333333;
                  font-size: 13px;
                  line-height: 24px;
                  margin: 0;
                  font-weight: lighter;
                  padding-left: 30px;
                }
                .detail-address {
                  background: url('../images/address-icon.svg') no-repeat;
                  background-size: 20px;
                }
                .phone-number {
                  background: url('../images/address-phone.svg') no-repeat;
                  background-size: 20px; 
                  @media (max-width: 768px) {
                    margin-top: 10px;
                    margin-bottom: 10px;
                  }
                }
              }
              &_action {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 768px) {
                  justify-content: flex-start;
                  flex-direction: column;
                  align-items: self-end;
                }
                .main-button {
                  background: linear-gradient(180deg, #1494D2 0%, #3382A8 100%);
                  color: #fff;
                  padding: 8px 30px 8px 16px;
                  font-weight: lighter;
                  border: none;
                  font-size: 13px;
                  position: relative;
                  &::after {
                    content: '';
                    background: url('../images/white-direction_icon.svg') no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 5px;
                    top: 7px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-ornament {
      height: 18.75rem;
      &_field-left {
        position: absolute;
        left: 0;
        bottom: 0; 
      }
      &_field-right {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &_gunung-left {
        position: absolute;
        left: 0;
        bottom: 3%; 
      }
      &_gunung-right {
        position: absolute;
        right: 0;
        bottom: 4%;
      }
      &_daun-left {
        position: absolute;
        left: 20%;
        bottom:0;
        &.happy {
          left: 40%;
        } 
      }
      &_daun-right {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &_daun-center {
        position: absolute;
        left: 30%;
        bottom: 3%;
        &.happy {
          left: auto;
          right: 30%;
        }
      }
      &_bebek {
        position: absolute;
        right: 10%;
        bottom: 3%;
        &.happy {
          left: 10%;
          right: auto;
          bottom: 0;
        }
      }
    }
  }
}


