.ui__toggle.ui__toggle__section

    ._section--main

        .entry-content
            p Sed a elementum nulla. Pellentesque at purus suscipit, facilisis lorem et, consectetur urna. Maecenas pretium diam sit amet enim euismod mattis. Phasellus tempus id leo in suscipit. Fusce pulvinar nulla at lorem facilisis sagittis. Ut et dolor nec nisi pharetra tincidunt vitae sed tellus. Phasellus quam lorem, ornare id tincidunt vitae, tincidunt ac eros. Suspendisse hendrerit elit orci, ut hendrerit ipsum pellentesque at. Praesent vehicula ullamcorper ante, eu imperdiet justo vulputate in. Ut at felis suscipit, sagittis metus id, commodo velit. Donec elementum magna nibh, sed semper purus pretium hendrerit. Donec ut orci quis lorem tincidunt lacinia.

            p
                a._trigger--open(href="") See Detail

    ._section--detail(style="display:none;")
        p Sed a elementum nulla. Pellentesque at purus suscipit, facilisis lorem et, consectetur urna. Maecenas pretium diam sit amet enim euismod mattis. Phasellus tempus id leo in suscipit. Fusce pulvinar nulla at lorem facilisis sagittis. Ut et dolor nec nisi pharetra tincidunt vitae sed tellus. Phasellus quam lorem, ornare id tincidunt vitae, tincidunt ac eros. Suspendisse hendrerit elit orci, ut hendrerit ipsum pellentesque at. Praesent vehicula ullamcorper ante, eu imperdiet justo vulputate in. Ut at felis suscipit, sagittis metus id, commodo velit. Donec elementum magna nibh, sed semper purus pretium hendrerit. Donec ut orci quis lorem tincidunt lacinia.

        p Nulla id quam velit. Pellentesque eu libero non libero pellentesque gravida dignissim ut justo. Integer ac ante eu elit molestie tincidunt. Nam tincidunt risus mi, nec convallis nisi ullamcorper sit amet. Integer finibus gravida augue, non convallis sapien mattis in. Quisque feugiat interdum augue, in porta nisl rutrum ut. Fusce non turpis justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse pellentesque ullamcorper cursus. Ut sed risus eu risus gravida pellentesque.

        p Donec sed eros at velit ultrices pharetra. Praesent commodo ornare porta. Aliquam tincidunt augue non tincidunt vehicula. Cras at tristique justo, nec auctor dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut sit amet bibendum elit, at placerat justo. Maecenas vestibulum porta dui ac porta. Pellentesque iaculis, mauris eu sollicitudin elementum, elit mi rhoncus augue, non rhoncus lorem sem ut nunc. Integer et erat in orci pellentesque auctor non at lacus.

        p
            a._trigger--close(href="") Close
