//-
//- Loader
//-
extends ../includes/layout

block vars
  - var siteTitle     = 'Izn Boilerplate Documentation';
  - var pageTitle     = 'Loader';
  - var pageName      = 'loader';
  - var bodyClass     = 'loader';

block main
  .page__element
    h2 plane

    .page__element__section
      .page__element__col
        +loader__plane('xxs')
      .page__element__col
        +loader__plane('xs')
      .page__element__col
        +loader__plane('sm')
      .page__element__col
        +loader__plane()
      .page__element__col
        +loader__plane('lg')
      .page__element__col
        +loader__plane('xl')
      .page__element__col
        +loader__plane('xxl')

    h2 chase

    .page__element__section
      .page__element__col
        +loader__chase('xxs')
      .page__element__col
        +loader__chase('xs')
      .page__element__col
        +loader__chase('sm')
      .page__element__col
        +loader__chase()
      .page__element__col
        +loader__chase('lg')
      .page__element__col
        +loader__chase('xl')
      .page__element__col
        +loader__chase('xxl')

    h2 bounce

    .page__element__section
      .page__element__col
        +loader__bounce('xxs')
      .page__element__col
        +loader__bounce('xs')
      .page__element__col
        +loader__bounce('sm')
      .page__element__col
        +loader__bounce()
      .page__element__col
        +loader__bounce('lg')
      .page__element__col
        +loader__bounce('xl')
      .page__element__col
        +loader__bounce('xxl')

    h2 wave

    .page__element__section
      .page__element__col
        +loader__wave('xxs')
      .page__element__col
        +loader__wave('xs')
      .page__element__col
        +loader__wave('sm')
      .page__element__col
        +loader__wave()
      .page__element__col
        +loader__wave('lg')
      .page__element__col
        +loader__wave('xl')
      .page__element__col
        +loader__wave('xxl')

    h2 pulse

    .page__element__section
      .page__element__col
        +loader__pulse('xxs')
      .page__element__col
        +loader__pulse('xs')
      .page__element__col
        +loader__pulse('sm')
      .page__element__col
        +loader__pulse()
      .page__element__col
        +loader__pulse('lg')
      .page__element__col
        +loader__pulse('xl')
      .page__element__col
        +loader__pulse('xxl')

    h2 flow

    .page__element__section
      .page__element__col
        +loader__flow('xxs')
      .page__element__col
        +loader__flow('xs')
      .page__element__col
        +loader__flow('sm')
      .page__element__col
        +loader__flow()
      .page__element__col
        +loader__flow('lg')
      .page__element__col
        +loader__flow('xl')
      .page__element__col
        +loader__flow('xxl')

    h2 swing

    .page__element__section
      .page__element__col
        +loader__swing('xxs')
      .page__element__col
        +loader__swing('xs')
      .page__element__col
        +loader__swing('sm')
      .page__element__col
        +loader__swing()
      .page__element__col
        +loader__swing('lg')
      .page__element__col
        +loader__swing('xl')
      .page__element__col
        +loader__swing('xxl')

    h2 circle

    .page__element__section
      .page__element__col
        +loader__circle('xxs')
      .page__element__col
        +loader__circle('xs')
      .page__element__col
        +loader__circle('sm')
      .page__element__col
        +loader__circle()
      .page__element__col
        +loader__circle('lg')
      .page__element__col
        +loader__circle('xl')
      .page__element__col
        +loader__circle('xxl')

    h2 circle fade

    .page__element__section
      .page__element__col
        +loader__circle-fade('xxs')
      .page__element__col
        +loader__circle-fade('xs')
      .page__element__col
        +loader__circle-fade('sm')
      .page__element__col
        +loader__circle-fade()
      .page__element__col
        +loader__circle-fade('lg')
      .page__element__col
        +loader__circle-fade('xl')
      .page__element__col
        +loader__circle-fade('xxl')

    h2 grid

    .page__element__section
      .page__element__col
        +loader__grid('xxs')
      .page__element__col
        +loader__grid('xs')
      .page__element__col
        +loader__grid('sm')
      .page__element__col
        +loader__grid()
      .page__element__col
        +loader__grid('lg')
      .page__element__col
        +loader__grid('xl')
      .page__element__col
        +loader__grid('xxl')

    h2 fold

    .page__element__section
      .page__element__col
        +loader__fold('xxs')
      .page__element__col
        +loader__fold('xs')
      .page__element__col
        +loader__fold('sm')
      .page__element__col
        +loader__fold()
      .page__element__col
        +loader__fold('lg')
      .page__element__col
        +loader__fold('xl')
      .page__element__col
        +loader__fold('xxl')

    h2 wander

    .page__element__section
      .page__element__col
        +loader__wander('xxs')
      .page__element__col
        +loader__wander('xs')
      .page__element__col
        +loader__wander('sm')
      .page__element__col
        +loader__wander()
      .page__element__col
        +loader__wander('lg')
      .page__element__col
        +loader__wander('xl')
      .page__element__col
        +loader__wander('xxl')

    h2 color: primary

    .page__element__section
      .page__element__col
        +loader__wander('md', 'primary')
      .page__element__col
        +loader__wander('lg', 'primary')

    h2 color: secondary

    .page__element__section
      .page__element__col
        +loader__circle('md', 'secondary')
      .page__element__col
        +loader__circle('lg', 'secondary')

    h2 color: success

    .page__element__section
      .page__element__col
        +loader__circle-fade('md', 'success')
      .page__element__col
        +loader__circle-fade('lg', 'success')

    h2 color: info

    .page__element__section
      .page__element__col
        +loader__swing('md', 'info')
      .page__element__col
        +loader__swing('lg', 'info')

    h2 color: warning

    .page__element__section
      .page__element__col
        +loader__flow('md', 'warning')
      .page__element__col
        +loader__flow('lg', 'warning')

    h2 color: danger

    .page__element__section
      .page__element__col
        +loader__pulse('md', 'danger')
      .page__element__col
        +loader__pulse('lg', 'danger')
