extends main

block section__content
  .row
    .col-md-9.section--col
      .section--col--inner
        block section__left

    .col-md-3.section--col
      .section--col--inner
        block section__right
