extends full

block section__content
  .row
    .col-md-4.section--col
      .section--col--inner
        block section__left

    .col-md-8.section--col
      .section--col--inner
        block section__right
