extends full

block section__content
  .row
    .col-md-2.section--col
      .section--col--inner
        block section__left

    .col-md-8.section--col
      .section--col--inner
        block section__center

    .col-md-2.section--col
      .section--col--inner
        block section__right
