extends main

block section__content
  .row
    .col-sm-6.section--col
      .section--col--inner
        block section__left

    .col-sm-6.section--col
      .section--col--inner
        block section__right
